<a href="https://colab.research.google.com/github/AdamayB/00_P.D.F-Projects_Done_for_Fun/blob/main/Mark_VIII(Archi%2BAdy).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install pandas numpy seaborn tensorflow matplotlib

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
data = pd.read_csv("dataset.csv")

In [ ]:
data.head()

,S.NO,Age,Months,Sex,Lab No.,DOA,Fever (P/A),Duration of fever (days),Headache (P/A),Duration of headache,...,Malarial parasites (Done/Not done),Malaria report,ELISA for leptospirosis (Done/Not done),Lepto report,CXR (Done/Not done),Xray report,USG Abdomen (Done/Not done),USG Abd report,Final Diagnosis,AUF Result
0,1,2Y0M28D,24,F,AUF001,19-06-2022,P,3.0,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,D,Normal study,Probable viral illness,Negative
1,2,4Y11M7D,59,M,AUF004,21-06-2022,P,4.0,A,NaN,...,NaN,NaN,NaN,NaN,D,Normal study,D,Mild diffude bladder wall thickening s/o Dysfu...,Probable viral illness,Positive for Dengue (Serotype DEN3) and Ricket...
2,3,44Y,528,F,AUF006,NaN,P,7.0,P,30.0,...,NaN,NaN,NaN,NaN,D,Normal study,D,"Mild hepatosplenomegaly, minimal free fluid in...",NaN,Negative
3,4,41Y,492,M,AUF007,NaN,P,4.0,A,NaN,...,NaN,NaN,NaN,NaN,D,Normal study,NaN,NaN,NaN,Negative
4,5,75Y,900,M,AUF008,NaN,A,NaN,A,NaN,...,NaN,NaN,NaN,NaN,D,Normal study,NaN,NaN,NaN,Inconclusive for Dengue

In [ ]:
data.drop(['S.NO','Age','Lab No.'],axis=1,inplace=True)

In [ ]:
data.head()

,Months,Sex,DOA,Fever (P/A),Duration of fever (days),Headache (P/A),Duration of headache,Myalgia (P/A),Duration of myalgia,Cough (P/A),...,Malarial parasites (Done/Not done),Malaria report,ELISA for leptospirosis (Done/Not done),Lepto report,CXR (Done/Not done),Xray report,USG Abdomen (Done/Not done),USG Abd report,Final Diagnosis,AUF Result
0,24,F,19-06-2022,P,3.0,A,NaN,A,NaN,A,...,NaN,NaN,NaN,NaN,NaN,NaN,D,Normal study,Probable viral illness,Negative
1,59,M,21-06-2022,P,4.0,A,NaN,A,NaN,A,...,NaN,NaN,NaN,NaN,D,Normal study,D,Mild diffude bladder wall thickening s/o Dysfu...,Probable viral illness,Positive for Dengue (Serotype DEN3) and Ricket...
2,528,F,NaN,P,7.0,P,30.0,P,5.0,P,...,NaN,NaN,NaN,NaN,D,Normal study,D,"Mild hepatosplenomegaly, minimal free fluid in...",NaN,Negative
3,492,M,NaN,P,4.0,A,NaN,P,4.0,A,...,NaN,NaN,NaN,NaN,D,Normal study,NaN,NaN,NaN,Negative
4,900,M,NaN,A,NaN,A,NaN,A,NaN,A,...,NaN,NaN,NaN,NaN,D,Normal study,NaN,NaN,NaN,Inconclusive for Dengue

In [ ]:
data.columns

Index(['Months', 'Sex', 'DOA', 'Fever (P/A)', 'Duration of fever (days)',
       'Headache (P/A)', 'Duration of headache', 'Myalgia (P/A)',
       'Duration of myalgia', 'Cough (P/A)', 'Duration of cough',
       'Productive/Non productive (P/NP)', 'Dyspnea (P/A)',
       'Duration of dyspnea', 'Vomiting (P/A)', 'Duration of vomiting',
       'Hematuria (P/A)', 'Duration of hematuria', 'Edema (P/A)',
       'Duration of edema', 'Anorexia (P/A)', 'Nausea (P/A)',
       'Diarrhoea (P/A)', 'Past illness (P/A)', 'Comorbidities',
       'Similar illness in family (P/A)',
       'Any rodent bite/scratch/contact with rodent droppings (Y/N)', 'BP',
       'RR', 'PR', 'Temperature', 'Crepitus/Rhonchi (P/A)', 'Petechiae (P/A)',
       'Additional physical finding', 'Any specific renal sign', 'Total count',
       'Hb/PCV', 'Differential count', 'Platelet count', 'Prothrombin time',
       'SGOT', 'SGPT', 'Bilirubin', 'S. protein (g%)', 'S. albumin (g%)',
       'A/G ratio', 'S. creatinine (mg%)', 'Urine protein (mg)',
       'Urine output (24 hr) (ml/Kg/Hr)', 'Other Investigations if any',
       'Bacterial culture & sensitivity (Positive / Negative / not done )',
       'If positive, Organism', 'Dengue Viral Immunoassay (IgM) (Done/NA )',
       'Dengue Viral Immunoassay (IgM) (Positive/Negative)',
       'Typhidot / Widal (Done/Not done)', 'Typhi dot/ WIDAL Report',
       'Weil Felix/Scrub typhus IgM (Done/Not done)', 'Scrub typhus Report',
       'Malarial parasites (Done/Not done)', 'Malaria report',
       'ELISA for leptospirosis (Done/Not done)', 'Lepto report',
       'CXR (Done/Not done)', 'Xray report', 'USG Abdomen (Done/Not done)',
       'USG Abd report', 'Final Diagnosis', 'AUF Result'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 68 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Months                                                             361 non-null    int64
 1   Sex                                                                361 non-null    object
 2   DOA                                                                312 non-null    object
 3   Fever (P/A)                                                        361 non-null    object
 4   Duration of fever (days)                                           356 non-null    float64
 5   Headache (P/A)                                                     361 non-null    object
 6   Duration of headache                                               95 non-null     float64
 7   Myalgia (P/A)                                                      361 non-null    object
 8   Duration of myalgia                                                111 non-null    float64
 9   Cough (P/A)                                                        361 non-null    object
 10  Duration of cough                                                  110 non-null    float64
 11  Productive/Non productive (P/NP)                                   127 non-null    object
 12  Dyspnea (P/A)                                                      360 non-null    object
 13  Duration of dyspnea                                                37 non-null     float64
 14  Vomiting (P/A)                                                     360 non-null    object
 15  Duration of vomiting                                               171 non-null    float64
 16  Hematuria (P/A)                                                    360 non-null    object
 17  Duration of hematuria                                              10 non-null     float64
 18  Edema (P/A)                                                        361 non-null    object
 19  Duration of edema                                                  16 non-null     float64
 20  Anorexia (P/A)                                                     361 non-null    object
 21  Nausea (P/A)                                                       361 non-null    object
 22  Diarrhoea (P/A)                                                    360 non-null    object
 23  Past illness (P/A)                                                 355 non-null    object
 24  Comorbidities                                                      360 non-null    object
 25  Similar illness in family (P/A)                                    360 non-null    object
 26  Any rodent bite/scratch/contact with rodent droppings (Y/N)        359 non-null    object
 27  BP                                                                 358 non-null    object
 28  RR                                                                 359 non-null    object
 29  PR                                                                 359 non-null    object
 30  Temperature                                                        360 non-null    object
 31  Crepitus/Rhonchi (P/A)                                             361 non-null    object
 32  Petechiae (P/A)                                                    361 non-null    object
 33  Additional physical finding                                        361 non-null    object
 34  Any specific renal sign                                            360 non-null    object
 35  Total count                                                        234 non-null    float64
 36  Hb/PCV                                                             334 non-null    object
 37  Differential count                                                 234 non-null    object
 38  Platelet count                                                     358 non-null    object
 39  Prothrombin time                                                   96 non-null     object
 40  SGOT                                                               341 non-null    object
 41  SGPT                                                               341 non-null    object
 42  Bilirubin                                                          197 non-null    object
 43  S. protein (g%)                                                    189 non-null    object
 44  S. albumin (g%)                                                    193 non-null    object
 45  A/G ratio                                                          144 non-null    object
 46  S. creatinine (mg%)                                                295 non-null    float64
 47  Urine protein (mg)                                                 147 non-null    object
 48  Urine output (24 hr) (ml/Kg/Hr)                                    66 non-null     object
 49  Other Investigations if any                                        72 non-null     object
 50  Bacterial culture & sensitivity (Positive / Negative / not done )  209 non-null    object
 51  If positive, Organism                                              211 non-null    object
 52  Dengue Viral Immunoassay (IgM) (Done/NA )                          211 non-null    object
 53  Dengue Viral Immunoassay (IgM) (Positive/Negative)                 209 non-null    object
 54  Typhidot / Widal (Done/Not done)                                   62 non-null     object
 55  Typhi dot/ WIDAL Report                                            62 non-null     object
 56  Weil Felix/Scrub typhus IgM (Done/Not done)                        79 non-null     object
 57  Scrub typhus Report                                                79 non-null     object
 58  Malarial parasites (Done/Not done)                                 51 non-null     object
 59  Malaria report                                                     50 non-null     object
 60  ELISA for leptospirosis (Done/Not done)                            77 non-null     object
 61  Lepto report                                                       94 non-null     object
 62  CXR (Done/Not done)                                                173 non-null    object
 63  Xray report                                                        175 non-null    object
 64  USG Abdomen (Done/Not done)                                        101 non-null    object
 65  USG Abd report                                                     101 non-null    object
 66  Final Diagnosis                                                    333 non-null    object
 67  AUF Result                                                         360 non-null    object
dtypes: float64(10), int64(1), object(57)
memory usage: 191.9+ KB

In [ ]:
data=data[data['Months'] <= 216]

### SEX ENCODING

In [ ]:
print(data['Sex'].value_counts())
print('================================================')

Sex
M    133
F    110
Name: count, dtype: int64
================================================

In [ ]:
def MF(column):
    mf=column[0]
    if mf=='M':
        return 0
    if mf=='F':
        return 1
    else:
        return -1

In [ ]:
data['Sex']=data['Sex'].apply(MF)

<ipython-input-14-75c80f68721d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sex']=data['Sex'].apply(MF)

In [ ]:
print(data['Sex'].value_counts())

Sex
0    133
1    110
Name: count, dtype: int64

### DOA Encoding

In [ ]:
data['DOA'].value_counts()

DOA
17-11-23      4
06-02-2023    4
11-07-2022    4
14-12-2022    4
22-07-2022    3
             ..
22-10-2022    1
21-10-2022    1
19-10-2022    1
20-10-2022    1
09-12-23      1
Name: count, Length: 163, dtype: int64

In [ ]:
data['DOA'].isna().sum()

1

In [ ]:
data['DOA']=data['DOA'].fillna('0')

In [ ]:
def doa(column):
    pa=column
    if pa!='0':
        if '-' in pa:
            l=pa.split('-')
            if len(l[2])==4:
                l[2]=l[2][2::]
                return int(''.join(l))
            else:
                return int(''.join(l))
        if '.' in pa:
            l=pa.split('.')
            if len(l[2])==4:
                l[2]=l[2][2::]
                return int(''.join(l))
            else:
                return int(''.join(l))
    else:
        return 0

In [ ]:
data['DOA']=data['DOA'].apply(doa)

In [ ]:
data['DOA'].isna().sum()

0

In [ ]:
data['DOA'][0]

190622

### Handling P/A values

In [ ]:
pacolumns=['Fever (P/A)','Headache (P/A)','Myalgia (P/A)','Cough (P/A)','Dyspnea (P/A)','Vomiting (P/A)','Hematuria (P/A)','Edema (P/A)','Anorexia (P/A)','Nausea (P/A)','Diarrhoea (P/A)','Crepitus/Rhonchi (P/A)','Petechiae (P/A)']

In [ ]:
for i in pacolumns:
    print(data[i].value_counts())
    print('=================')

Fever (P/A)
P    220
p     23
Name: count, dtype: int64
=================
Headache (P/A)
A    209
P     32
5      1
p      1
Name: count, dtype: int64
=================
Myalgia (P/A)
A    203
P     39
p      1
Name: count, dtype: int64
=================
Cough (P/A)
A    170
P     73
Name: count, dtype: int64
=================
Dyspnea (P/A)
A    222
P     19
p      2
Name: count, dtype: int64
=================
Vomiting (P/A)
P    122
A    119
p      1
Name: count, dtype: int64
=================
Hematuria (P/A)
A    240
P      2
p      1
Name: count, dtype: int64
=================
Edema (P/A)
A    240
P      3
Name: count, dtype: int64
=================
Anorexia (P/A)
A    129
P    113
p      1
Name: count, dtype: int64
=================
Nausea (P/A)
A    216
P     27
Name: count, dtype: int64
=================
Diarrhoea (P/A)
A    208
P     35
Name: count, dtype: int64
=================
Crepitus/Rhonchi (P/A)
A                             238
P                               3
Bilateral scattered wheeze      1
Occasional crepts+              1
Name: count, dtype: int64
=================
Petechiae (P/A)
A                              233
P                                8
P (in face and extremities)      1
P (All over the body)            1
Name: count, dtype: int64
=================

In [ ]:
def paencode(column):
    pa=str(column)[0]
    if pa.lower()=='a':
        return 0
    else:
        return 1

In [ ]:
for i in pacolumns:
    data[i]=data[i].apply(paencode)

In [ ]:
data['Fever (P/A)'].value_counts()

Fever (P/A)
1    243
Name: count, dtype: int64

In [ ]:
for i in pacolumns:
    print(data[i].value_counts())
    print('=================')

Fever (P/A)
1    243
Name: count, dtype: int64
=================
Headache (P/A)
0    209
1     34
Name: count, dtype: int64
=================
Myalgia (P/A)
0    203
1     40
Name: count, dtype: int64
=================
Cough (P/A)
0    170
1     73
Name: count, dtype: int64
=================
Dyspnea (P/A)
0    222
1     21
Name: count, dtype: int64
=================
Vomiting (P/A)
1    124
0    119
Name: count, dtype: int64
=================
Hematuria (P/A)
0    240
1      3
Name: count, dtype: int64
=================
Edema (P/A)
0    240
1      3
Name: count, dtype: int64
=================
Anorexia (P/A)
0    129
1    114
Name: count, dtype: int64
=================
Nausea (P/A)
0    216
1     27
Name: count, dtype: int64
=================
Diarrhoea (P/A)
0    208
1     35
Name: count, dtype: int64
=================
Crepitus/Rhonchi (P/A)
0    238
1      5
Name: count, dtype: int64
=================
Petechiae (P/A)
0    233
1     10
Name: count, dtype: int64
=================

### Handling Duration columns

In [ ]:
durationcolumns=['Duration of fever (days)','Duration of headache','Duration of myalgia','Duration of cough','Duration of dyspnea','Duration of vomiting','Duration of hematuria','Duration of edema']

In [ ]:
for i in durationcolumns:
    print(data[i].value_counts())
    print('Null values:')
    print(data[i].isna().sum())
    print('=================')

Duration of fever (days)
5.0     58
3.0     44
4.0     34
6.0     24
7.0     23
2.0     15
8.0     14
10.0     9
1.0      7
12.0     4
9.0      3
13.0     2
15.0     2
11.0     1
14.0     1
20.0     1
30.0     1
Name: count, dtype: int64
Null values:
0
=================
Duration of headache
1.0    10
2.0     8
4.0     5
5.0     4
7.0     2
3.0     2
6.0     1
9.0     1
Name: count, dtype: int64
Null values:
210
=================
Duration of myalgia
2.0     10
1.0     10
5.0      8
3.0      4
4.0      4
7.0      2
10.0     1
Name: count, dtype: int64
Null values:
204
=================
Duration of cough
3.0     14
4.0     12
5.0     12
2.0     10
7.0     10
1.0      4
10.0     3
6.0      3
14.0     2
20.0     1
15.0     1
Name: count, dtype: int64
Null values:
171
=================
Duration of dyspnea
1.0    8
3.0    4
5.0    3
2.0    2
4.0    2
Name: count, dtype: int64
Null values:
224
=================
Duration of vomiting
1.0     44
2.0     36
3.0     14
4.0     12
5.0      7
6.0      4
7.0      2
8.0      2
10.0     1
0.0      1
Name: count, dtype: int64
Null values:
120
=================
Duration of hematuria
1.0    3
Name: count, dtype: int64
Null values:
240
=================
Duration of edema
5.0    2
2.0    1
Name: count, dtype: int64
Null values:
240
=================

In [ ]:
for i in durationcolumns:
    data[i].fillna(data[i].median(),inplace=True)

In [ ]:
for i in durationcolumns:
    print(data[i].isna().sum())
    print('=================')

0
=================
0
=================
0
=================
0
=================
0
=================
0
=================
0
=================
0
=================

In [ ]:
def cleaning(column):
    p=column
    if type(p)!=float and p.isalpha():
        return None
    else:
        return float(p)

In [ ]:
data['Bilirubin']=data['Bilirubin'].apply(cleaning)

In [ ]:
data['Bilirubin'].fillna(data['Bilirubin'].median(),inplace=True)

In [ ]:
data['Bilirubin']

0      0.45
1      0.45
12     0.40
13     0.45
14     0.45
       ...
356    0.45
357    0.50
358    0.45
359    0.45
360    0.45
Name: Bilirubin, Length: 243, dtype: float64

In [ ]:
data['Bilirubin'].isna().sum()

0

In [ ]:
data['S. protein (g%)']=data['S. protein (g%)'].apply(cleaning)

In [ ]:
data['S. protein (g%)'].fillna(data['S. protein (g%)'].median(),inplace=True)

In [ ]:
data['S. protein (g%)'].isna().sum()

0

In [ ]:
data['S. albumin (g%)']

0      NaN
1      NaN
12     3.9
13     NaN
14     NaN
      ...
356    NaN
357    2.6
358    NaN
359    NaN
360    NaN
Name: S. albumin (g%), Length: 243, dtype: object

In [ ]:
data['S. albumin (g%)']=data['S. albumin (g%)'].apply(cleaning)

In [ ]:
data['S. albumin (g%)'].fillna(data['S. albumin (g%)'].median(),inplace=True)

In [ ]:
data['S. albumin (g%)'].isna().sum()

0

### Done/Not Done Columns

In [ ]:
dnacolumns=['Malarial parasites (Done/Not done)','ELISA for leptospirosis (Done/Not done)','CXR (Done/Not done)','USG Abdomen (Done/Not done)']

In [ ]:
for i in dnacolumns:
    print(data[i].value_counts())
    print('Null values:')
    print(data[i].isna().sum())
    print('=================')

Malarial parasites (Done/Not done)
D    14
Name: count, dtype: int64
Null values:
229
=================
ELISA for leptospirosis (Done/Not done)
D           5
NEGATIVE    1
Name: count, dtype: int64
Null values:
237
=================
CXR (Done/Not done)
D    59
Name: count, dtype: int64
Null values:
184
=================
USG Abdomen (Done/Not done)
D    67
Name: count, dtype: int64
Null values:
176
=================

In [ ]:
def dnaclean(column):
    dna=column
    if dna!='0':
        return 1
    else:
        return 0

In [ ]:
data['Dengue Viral Immunoassay (IgM) (Done/NA )'].fillna('0',inplace=True)

In [ ]:
data['Dengue Viral Immunoassay (IgM) (Done/NA )'].value_counts()

Dengue Viral Immunoassay (IgM) (Done/NA )
D                                           118
0                                            89
Dengue IGM Positive                           9
not done                                      3
Dengue IGM positive                           2
Dengue RNA PCR Positive                       2
Dengue Ns1 positive                           2
Dengue Ns1 aNA IGM positive                   1
Dengue NS1 IGG positive                       1
Dengue NS1AG positive                         1
Dengue Ns1AG + IGM positive                   1
Dengue Ns1 AG positive                        1
Dengue Ns1 Positive                           1
Dengue Ns1Positive                            1
NEGATIVE                                      1
Dengue IGG positive                           1
Dengue NS1ag IGM positive                     1
Dengue Ns1 AG aNA IGM positive                1
Negative                                      1
negative                                      1
Dengue NS1ag IGM negative RTPCR Positive      1
Dengue NS1 Positive                           1
Dengue PCR Positive                           1
Positive                                      1
Dengue Negative                               1
Name: count, dtype: int64

In [ ]:
data['Dengue Viral Immunoassay (IgM) (Done/NA )']=data['Dengue Viral Immunoassay (IgM) (Done/NA )'].apply(dnaclean)

In [ ]:
data['Dengue Viral Immunoassay (IgM) (Done/NA )'].isna().sum()

0

In [ ]:
data['Dengue Viral Immunoassay (IgM) (Done/NA )'].value_counts()

Dengue Viral Immunoassay (IgM) (Done/NA )
1    154
0     89
Name: count, dtype: int64

In [ ]:
data['Typhidot / Widal (Done/Not done)'].fillna('0',inplace=True)

In [ ]:
data['Typhidot / Widal (Done/Not done)'].value_counts()

Typhidot / Widal (Done/Not done)
0    220
D     23
Name: count, dtype: int64

In [ ]:
data['Typhidot / Widal (Done/Not done)']=data['Typhidot / Widal (Done/Not done)'].apply(dnaclean)

In [ ]:
data['Typhidot / Widal (Done/Not done)'].isna().sum()

0

In [ ]:
data['Typhidot / Widal (Done/Not done)'].value_counts()

Typhidot / Widal (Done/Not done)
0    220
1     23
Name: count, dtype: int64

In [ ]:
data['Weil Felix/Scrub typhus IgM (Done/Not done)'].fillna('0',inplace=True)

In [ ]:
data['Weil Felix/Scrub typhus IgM (Done/Not done)'].value_counts()

Weil Felix/Scrub typhus IgM (Done/Not done)
0    169
D     74
Name: count, dtype: int64

In [ ]:
data['Weil Felix/Scrub typhus IgM (Done/Not done)']=data['Weil Felix/Scrub typhus IgM (Done/Not done)'].apply(dnaclean)

In [ ]:
data['Weil Felix/Scrub typhus IgM (Done/Not done)'].isna().sum()

0

In [ ]:
data['Weil Felix/Scrub typhus IgM (Done/Not done)'].value_counts()

Weil Felix/Scrub typhus IgM (Done/Not done)
0    169
1     74
Name: count, dtype: int64

In [ ]:
for i in dnacolumns:
    data[i].fillna('0',inplace=True)
    data[i]=data[i].apply(dnaclean)

In [ ]:
for i in dnacolumns:
    print(data[i].isna().sum())
    print(data[i].value_counts())
    print("=============================")

0
Malarial parasites (Done/Not done)
0    229
1     14
Name: count, dtype: int64
=============================
0
ELISA for leptospirosis (Done/Not done)
0    237
1      6
Name: count, dtype: int64
=============================
0
CXR (Done/Not done)
0    184
1     59
Name: count, dtype: int64
=============================
0
USG Abdomen (Done/Not done)
0    176
1     67
Name: count, dtype: int64
=============================

In [ ]:
str1="Hello! Welcome to Tutorialspoint."
n=0
for i in str1:
    n+=ord(i)

print(n)

3139

### String Encoding Function

In [ ]:
int(bin(ord('a')+ord('A')),2)

162

In [ ]:
def strencode(column):
    pa=column
    ans=0

    for i in pa:
        ans+=ord(i)
    return ans
#     pa_encode=pa.encode('utf_16','strict')
#     integer = int.from_bytes(pa_encode, byteorder='little')

    #return integer//len(pa_encode)

In [ ]:
def strencodegeneral(stri):
    ans=0
    for i in stri:
        ans+=ord(i)
    return ans

str="Hello! Welcome to Tutorialspoint."
str_encoded= str.encode('utf_16','strict')
print("The encoded string is: ", str_encoded)

bytes = str_encoded
integer = int.from_bytes(bytes, byteorder='little')
print(integer)

In [ ]:
data['Comorbidities'].value_counts()

Comorbidities
A                                                                                                                                 218
Right focal seizures at 1 1/2yrs of age-- on medication                                                                             1
H/o of Allergic Rhinitis- on Metaspray                                                                                              1
Seizure disorder since 2020                                                                                                         1
Child was diagnosed to have corpus callossum agenesis on D3 of life- Developmentally normal child                                   1
Both weight and height < 3rd centile                                                                                                1
Has congenital bilateral preauricular pits which gets swollen during episodes of fever and cols                                     1
Mild motor developemenal delay                                                                                                      1
Constipated                                                                                                                         1
Primary nocturnal eneurisis with constipation                                                                                       1
High Myopic                                                                                                                         1
DM                                                                                                                                  1
Genetically proven white matter disease in April 2022                                                                               1
K/C/O wheezer for the past 1 year on MDI SOS                                                                                        1
Horseshoe kidney diagnosed at 1 1/2yrs of age- on uroprophylaxis- now discontinued                                                  1
Known wheezer                                                                                                                       1
Diagnosed with nephrotic syndrome at 1 1/ yrs of age, has been having frequent replapses since then                                 1
SCN1A Mutation- genetic epilepsy with Febrile seizure plus Type 2 Syndrome                                                          1
P (Autoimmiune Thyroiditis)                                                                                                         1
Diagnosed with Pre B ALL at 2 1/2 yrs of age- completed chemotherapy in May 2022; also has H/O Febrile seizures on prophylaxis      1
Diagnosed to have dimorphic anemia in 2021- probable immune cytopenia                                                               1
Short stature                                                                                                                       1
K/C/O of Developmental delay                                                                                                        1
Had one episode of simple febrile seizure                                                                                           1
K/C/O Congenital Hypothyroidism                                                                                                     1
YES                                                                                                                                 1
Name: count, dtype: int64

In [ ]:
data['Comorbidities'].fillna('-1',inplace=True)

In [ ]:
data['Comorbidities']=le.fit_transform(data['Comorbidities'])

### Additional physical findings

In [ ]:
data['Additional physical finding'].value_counts()

Additional physical finding
A                                                                                                                                   63
Lethargic                                                                                                                           10
Sick looking                                                                                                                         7
Mild hepatomegaly                                                                                                                    6
Right hypochondriac tenderness                                                                                                       4
                                                                                                                                    ..
Flushed appearance, feeble peripheral pulses                                                                                         1
Thick purulent nasal secretion, congested throat and open mouth breathing; Right hypochondriac tenderness with mild hepatomegaly     1
Flushed skin with palpable liver                                                                                                     1
Flushed appearance with Right Hypochondriac tenderness                                                                               1
Tenderness in right hypocondrial region                                                                                              1
Name: count, Length: 150, dtype: int64

In [ ]:
data['Additional physical finding']=le.fit_transform(data['Additional physical finding'])

In [ ]:
data['Any specific renal sign'].value_counts()

Any specific renal sign
A                                                                                                                          239
NIL                                                                                                                          2
Had Acute kidney injury stage 3 with anuria, fluid overload and persistent metabolic acidosis and was commenced on CRRT      1
Name: count, dtype: int64

In [ ]:
data['Any specific renal sign'].isna().sum()

1

### Function to fill NA values in string datatype columns

In [ ]:
def fillnarenal(column):
    renal=column
    if type(renal)==float:
        return '0'
    else:
        return renal

In [ ]:
data['Any specific renal sign']=data['Any specific renal sign'].apply(fillnarenal)

In [ ]:
for i in data['Any specific renal sign']:
    if type(i)==float:
        print(i)

In [ ]:
data['Any specific renal sign']=data['Any specific renal sign'].apply(strencode)

In [ ]:
data['Any specific renal sign'].value_counts()

Any specific renal sign
65       239
227        2
48         1
11079      1
Name: count, dtype: int64

### Differential count

In [ ]:
data['Differential count'].value_counts()

Differential count
N60L38M2      6
N36L60M4      5
N60L37M3      3
N69L28M3      3
N63L35M2      3
             ..
N75L24M1      1
N45L49M6      1
N93L7         1
N55L42M1E2    1
N44L50M05     1
Name: count, Length: 191, dtype: int64

In [ ]:
data['Differential count'].isna().sum()

9

In [ ]:
data['Differential count']=data['Differential count'].apply(fillnarenal)

In [ ]:
data['Differential count'].isna().sum()

0

In [ ]:
data['Differential count']=data['Differential count'].apply(strencode)

In [ ]:
data['Differential count'].value_counts()

Differential count
490    117
607     29
538     24
499     18
48       9
703      5
616      4
365      4
547      3
442      3
493      2
570      2
65       2
485      2
361      2
568      1
532      1
657      1
712      1
370      1
356      1
541      1
608      1
451      1
489      1
559      1
355      1
360      1
317      1
363      1
434      1
537      1
Name: count, dtype: int64

In [ ]:
data['Dengue Viral Immunoassay (IgM) (Positive/Negative)']

0                      Negative
1                           NaN
12                     Negative
13                          NaN
14                          NaN
                 ...
356    Dengue Ns1 +IGM Positive
357       Dengue Ns1AG positive
358     Dengue NS1 IGG Positive
359                    Negative
360         Dengue Ns1 Positive
Name: Dengue Viral Immunoassay (IgM) (Positive/Negative), Length: 243, dtype: object

In [ ]:
data['Dengue Viral Immunoassay (IgM) (Positive/Negative)'].value_counts()

Dengue Viral Immunoassay (IgM) (Positive/Negative)
Negative                                       17
NS1 and IgM Negative                           17
NS1 and IgM Positive                           16
NS1 Positive and IgM Negative                  12
Dengue IGM Positive                             8
NS1 Negative IgM Positive                       8
NS1 Positive IgM Negative                       6
IGM Positive                                    5
Positive                                        4
NS1 and IgM Negative, IgG Positive              4
NS1 Positive                                    3
NS1 Negative and IgM Positive                   3
-                                               3
NS1, IgM and IgG Positive                       3
NS1 and IgM Negative; IgG Positive              3
NS1 Negative                                    3
Dengue NS1 positive                             3
NS1 Positive, IgM Negative and IgG Positive     2
Dengue RNA PCR Positive                         2
NS1 Positive and Igm Negative                   2
NS1 Negative, IgM Positive                      2
NS1 Positive, IgM Negative, IgG Positive        2
Dengue Ns1AG positive                           2
NS1 Positive, IgM Negative                      2
NS1 and IgM Negative IgG Positive               2
Dengue Ns1 +IGM Positive                        1
Dengue NS1 IGG Positive                         1
IGG Positive                                    1
Dengue IGM positive                             1
Not done                                        1
Dengue RNA PCR positive                         1
NS1 is Negative, IgM Positive                   1
Dengue PCR Positive                             1
NS1 Negative IgM Positive and IgG Positive      1
NS1 Negative, IgM Positive and IgG Negative     1
NS1 and IgM Negative, IgG positive              1
NS1 and Igm Negative                            1
NS1 positive IgM Negative                       1
NS1 Negative, IgM and IgG Positive              1
NS1 Positive, Igm and IgG Negative              1
NS1 Negative Igm Positive                       1
Igm Negative IgG Positive                       1
Dengue Ns1 Positive                             1
Name: count, dtype: int64

In [ ]:
#IgM,NS1,IgG Possitive=2, negative=1, Not done=3
d={'Negative':133,'NEGATIVE':133,
'NS1 and IgM Negative':113,
'NS1 and IgM Positive':223,
'NS1 Positive and IgM Negative':213,
'Positive':233,
'Dengue IGM Positive':233,
'NS1 Negative IgM Positive':213,
'NS1 Positive IgM Negative':213,
'D':333,
'IGM Positive':233,
'NS1 and IgM Negative, IgG Positive':112,
'NS1, IgM and IgG Positive':222,
'Dengue NS1 positive':323,
'NS1 Negative':313,
'NS1 Negative and IgM Positive':213,
'NS1 and IgM Negative; IgG Positive':112,
'-':333,
'NS1 Positive':323,
'NS1 and IgM Negative IgG Positive':112,
'NS1 Positive and Igm Negative':123,
'Dengue Ns1AG positive':323,
'Dengue RNA PCR Positive':4,
'POSITIVE':233,
'NS1 Positive, IgM Negative':123,
'NS1 Positive, IgM Negative and IgG Positive':122,
'NS1 Positive, IgM Negative, IgG Positive':122,
'NS1 Negative, IgM Positive':213,
'NS1 Negative, IgM Positive and IgG Negative':211,
'Not done':-1,
'Dengue NS1 IGG Positive':122,
'Dengue Ns1 +IGM Positive':223,
'Dengue IGM positive':233,
'NS1 Positive, Igm and IgG Negative':121,
'Igm Negative IgG Positive':132,
'NS1 Negative Igm Positive':213,
'IGG Positive':332,
'NS1 Negative, IgM and IgG Positive':212,
'NS1 Negative IgM Positive and IgG Positive':212,
'Dengue RNA PCR positive':233,
'NS1 positive IgM Negative':123,
'Dengue PCR Positive':233,
'NS1 is Negative, IgM Positive':213,
'NS1 and Igm Negative':113,
'Positive':233,
'NS1 and IgM Negative, IgG positive':112,
'Dengue Ns1 Positive':323}

In [ ]:
def igm(column):
    ig=column
    if ig in d.keys():
        return d[ig]
    else:
        return -1

In [ ]:
data['Dengue Viral Immunoassay (IgM) (Positive/Negative)']=data['Dengue Viral Immunoassay (IgM) (Positive/Negative)'].apply(igm)

In [ ]:
data['Dengue Viral Immunoassay (IgM) (Positive/Negative)'].isna().sum()

0

In [ ]:
def posneg(column):
    pn=column
    if pn in ['Positive','O (1 in 160) and H (1 in 640) Positive','O & H Positive','Positive (3.50)']:
        return 1
    elif pn in ['Negative','All Negative','NEGATIVE',]:
        return 0
    else:
        return -1

In [ ]:
data['Typhi dot/ WIDAL Report'].value_counts()

Typhi dot/ WIDAL Report
Negative                                  16
Positive                                   3
All Negative                               2
O (1 in 160) and H (1 in 640) Positive     1
O & H Positive                             1
Name: count, dtype: int64

In [ ]:
data['Typhi dot/ WIDAL Report'].isna().sum()

220

In [ ]:
data['Typhi dot/ WIDAL Report']=data['Typhi dot/ WIDAL Report'].apply(posneg)

In [ ]:
data['Typhi dot/ WIDAL Report'].value_counts()

Typhi dot/ WIDAL Report
-1    220
 0     18
 1      5
Name: count, dtype: int64

In [ ]:
data['Scrub typhus Report'].value_counts()

Scrub typhus Report
Negative           61
Positive           12
Positive (3.50)     1
Name: count, dtype: int64

In [ ]:
data['Scrub typhus Report'].isna().sum()

169

In [ ]:
data['Scrub typhus Report']=data['Scrub typhus Report'].apply(posneg)

In [ ]:
data['Scrub typhus Report'].isna().sum()

0

In [ ]:
data['Malaria report'].value_counts()

Malaria report
Negative    13
Name: count, dtype: int64

In [ ]:
data['Malaria report'].isna().sum()

230

In [ ]:
data['Malaria report']=data['Malaria report'].apply(posneg)

In [ ]:
data['Malaria report'].isna().sum()

0

In [ ]:
data['Malaria report'].value_counts()

Malaria report
-1    230
 0     13
Name: count, dtype: int64

In [ ]:
data['Lepto report'].value_counts()

Lepto report
Negative    4
Name: count, dtype: int64

In [ ]:
data['Lepto report']=data['Lepto report'].apply(posneg)

In [ ]:
data['Lepto report'].isna().sum()

0

In [ ]:
data['Lepto report'].value_counts()

Lepto report
-1    239
 0      4
Name: count, dtype: int64

In [ ]:
data['Xray report'].value_counts()

Xray report
Normal study                                                                                                                       16
Normal                                                                                                                             12
-                                                                                                                                   3
Right pleural effusion                                                                                                              2
Prominent bronchovascular markings with peribronchial infiltrates. A tiny right pleural effusion                                    2
Right upper lobe consolidation, Left hemithorax opaque, Left ICD in situ                                                            1
Right sided pleural effusion and right lower lobe collapse                                                                          1
Bilateral mild pleural effusion                                                                                                     1
Bilateral pleural effusion                                                                                                          1
Right sided massive pleural effussion                                                                                               1
Right sided pleural effusion                                                                                                        1
Bilateral prominent bronchovascular markings with bilateral minimal pleural effusion                                                1
Bilateral prominent bronchovascular markings with perihilar infiltrates                                                             1
Prominent bronchovascular markings                                                                                                  1
Both lungs show prominent bronchovascular markings with peribronchial infiltrates                                                   1
Both lungs show prominent bronchovascular markings                                                                                  1
Bilateral perihilar infiltrates and peribroncial infiltrates                                                                        1
Bilateral bronchial wall thickening. No focal consolidation                                                                         1
There is consolidation in left lower lobe                                                                                           1
Bilateral interstitial infiltrates                                                                                                  1
Left lower lobe consolidation with Bilateral pleural effusion                                                                       1
Prominent Bronchovascular markings                                                                                                  1
Prminent Brochovascular markings                                                                                                    1
Bilateral Perihilar Infiltrates (More on Right Upper zone)                                                                          1
Lungs show prominent bronchovascular markings                                                                                       1
Both lungs hyperinflated                                                                                                            1
Patchy infiltrates seen in right lower lobe                                                                                         1
Consolidation in Right upper lobe with some volume loss, patchy infiltrates in Right middle lobe, A tiny right pleural effusion     1
Consolidation in left lower lobe with small pleural effusion                                                                        1
Bilateral lower lobe pneumonia                                                                                                      1
Bilateral bronchial wall thickening                                                                                                 1
A tiny effusion is seen on both sides                                                                                               1
Name: count, dtype: int64

In [ ]:
def xray(column):
    x=column
    if x in ['Normal study','Normal','NORMAL','UNREMARKABLE','Unremarkable','UNREMARABLE']:
        return 0
    elif x=='-':
        return -1
    elif type(x)==float:
        return -1
    else:
        return strencodegeneral(x)

In [ ]:
data['Xray report']=data['Xray report'].apply(xray)

In [ ]:
data['Xray report'].value_counts()

Xray report
-1        184
 0         28
 9484       2
 2194       2
 2747       1
 5019       1
 8126       1
 3492       1
 7157       1
 8379       1
 3654       1
 6688       1
 2596       1
 3050       1
 5578       1
 5991       1
 5692       1
 3927       1
 5964       1
 3460       1
 3239       1
 5404       1
 4558       1
 2405       1
 4153       1
 12037      1
 5836       1
 2951       1
 3446       1
 3473       1
 3437       1
Name: count, dtype: int64

In [ ]:
data['Xray report'].isna().sum()

0

## Columns with no common functions

### Productive/Non-Productive

In [ ]:
data['Productive/Non productive (P/NP)'].value_counts()

Productive/Non productive (P/NP)
N/P    69
-       5
P       3
A       1
Name: count, dtype: int64

In [ ]:
data['Productive/Non productive (P/NP)'].isna().sum()

165

In [ ]:
def pnpfill(column):
    pnp=column
    if pnp=='N/P':
        return 0
    elif pnp=='P':
        return 1
    else:
        return -1

In [ ]:
data['Productive/Non productive (P/NP)']=data['Productive/Non productive (P/NP)'].apply(pnpfill)

In [ ]:
data['Productive/Non productive (P/NP)']

0     -1
1     -1
12    -1
13    -1
14    -1
      ..
356    0
357   -1
358    0
359    0
360   -1
Name: Productive/Non productive (P/NP), Length: 243, dtype: int64

### Past Illness

In [ ]:
data['Past illness (P/A)'].value_counts()

Past illness (P/A)
NIL                                                                                                                                                                                                                 205
P                                                                                                                                                                                                                     3
Admitted for Iron deficiency anemia at the age of 2 1/2 months; Admitted in July 2022 for UTI and Scan revealed cystitis with Grade 4 VUR                                                                             1
Child was treated for UTI (Urine culture E Coli) in 1st week of Feb 2023                                                                                                                                              1
H/O Viral fever at the age of 2 and H/O Dengue 3 yrs back                                                                                                                                                             1
Admitted for the same complaints elsewhere and treated as severe Dengue with compensated shock with IV fluids, albumin and inotropes- shifted to KKCTH in view of persistent shock and altered sensorium              1
1st episode of simple febrile seizures in December 2022                                                                                                                                                               1
H/O of Febrile seizures followed by unprovoked seizures in 2020- MRI Brain Normal, EEG s/o left frontoparietal epileptiform activity                                                                                  1
Had H/O Febrile illness 2 weeks back- settled with antipyretics                                                                                                                                                       1
Admitted and evaluated for fever 1 month back elsewhere and got discharged against medical advice                                                                                                                     1
Admitted in 2021 for MISC                                                                                                                                                                                             1
Had Neonatal seizures with HIE Stage II; was admitted at 8 months if age for Dengue with warning signs                                                                                                                1
Admitted in Sep 2022 for acute febrile illness/ partially treated enteric fever/ Scrub typhus and treated for the same with antibiotics for 2 weeks; Again had fever for 3 days in the last week of January 2023      1
Child was treated for culture proven enteric fever 1 week back elsewhere                                                                                                                                              1
H/O recurrent episodes of simple febrile sizures since 3 years of age- on AED; MRI done at 3 years Normal- hence stopped AED                                                                                          1
H/O of Dengue at 5 years of age                                                                                                                                                                                       1
Child was treated for the complaints at local hospital and referred here in view of blood stained vomitus                                                                                                             1
Dermoid cyst/ E.coli meningitis/Stricture urethra                                                                                                                                                                     1
Had simple febrile seizures at 1 1/2yr of age- on frisium prophylaxis                                                                                                                                                 1
H/O enteric fever in 2015                                                                                                                                                                                             1
H/O travel to kutralam last week; known case of VSD on follow up                                                                                                                                                      1
H/o simple febrile seizures till 5 years of age                                                                                                                                                                       1
Had similar illness 1 week back and was afebrile for 3 days                                                                                                                                                           1
Admitted at 5yrs of age for Kawasaki disease, Known wheezer, H/O Atopy present                                                                                                                                        1
Had similar illness in August 2019- diagnosed to have dengue fever                                                                                                                                                    1
Previously diagnosed to have Kawasaki disease at 1.5 yrs pf age                                                                                                                                                       1
Recurrent fever for the past 2 months                                                                                                                                                                                 1
Admitted for Dengue 5 years back                                                                                                                                                                                      1
P (H/O Fever 2 weeks back and was treated for probable Typhoid with multiple Antibiotics)                                                                                                                             1
Recurrent episodes of fever for the past 1 1/2 yrs                                                                                                                                                                    1
H/O UTI 6 months ago. Partial vaginal synechiae present                                                                                                                                                               1
At 8 months of age -CAP                                                                                                                                                                                               1
Name: count, dtype: int64

In [ ]:
data['Past illness (P/A)'].fillna('-1',inplace=True)

In [ ]:
def pastillnesscolumn(column):
    pi=column
    if pi=='Nil' or pi=='NIL':
        return 0
    elif pi=='-1':
        return -1
    else:
        return 1

In [ ]:
data['Past illness (P/A)']=data['Past illness (P/A)'].apply(pastillnesscolumn)

### Similar Illness

In [ ]:
data['Similar illness in family (P/A)'].value_counts()

Similar illness in family (P/A)
No                                137
NO                                 98
Yes (Mother)                        2
Sibling with fever 1 week back      1
Yes (elder sibling)                 1
B/L RENAL CALCULAI                  1
H/o of Atopy in mother              1
CAP                                 1
Name: count, dtype: int64

In [ ]:
data['Similar illness in family (P/A)'].isna().sum()

1

In [ ]:
data['Similar illness in family (P/A)'].fillna('-1',inplace=True)

In [ ]:
data['Similar illness in family (P/A)'].isna().sum()

0

In [ ]:
def pnaillness(column):
    pna=column
    if pna in ['NO','No','A']:
        return 0
    elif pna=='-1':
        return -1
    else:
        return 1

In [ ]:
data['Similar illness in family (P/A)']=data['Similar illness in family (P/A)'].apply(pnaillness)

### Rodent bites/scratches/contact with droppings

In [ ]:
data['Any rodent bite/scratch/contact with rodent droppings (Y/N)'].value_counts()

Any rodent bite/scratch/contact with rodent droppings (Y/N)
A                                 240
H/O contact with tick and mite      1
Yes                                 1
Name: count, dtype: int64

In [ ]:
data['Any rodent bite/scratch/contact with rodent droppings (Y/N)'].isna().sum()

1

In [ ]:
data['Any rodent bite/scratch/contact with rodent droppings (Y/N)'].fillna('-',inplace=True)

In [ ]:
data['Any rodent bite/scratch/contact with rodent droppings (Y/N)'].isna().sum()

0

In [ ]:
def rodent(column):
    ro=column
    if ro=='A':
        return 0
    elif ro=='-':
        return -1
    else:
        return 1

In [ ]:
data['Any rodent bite/scratch/contact with rodent droppings (Y/N)']=data['Any rodent bite/scratch/contact with rodent droppings (Y/N)'].apply(rodent)

### Prothrombin time

In [ ]:
data['Prothrombin time']

0      NaN
1      NaN
12     NaN
13     NaN
14     NaN
      ...
356    NaN
357    NaN
358    NaN
359    NaN
360    NaN
Name: Prothrombin time, Length: 243, dtype: object

In [ ]:
data['Prothrombin time'].value_counts()

Prothrombin time
Normal       27
Prolonged    22
Less          4
-             1
Name: count, dtype: int64

In [ ]:
data['Prothrombin time'].isna().sum()

189

In [ ]:
def pt(column):
    p=column
    if p=='Normal':
        return 1
    elif p=='Less':
        return 0
    elif p=='Prolonged':
        return 2
    else:
        return None

In [ ]:
data['Prothrombin time']=data['Prothrombin time'].apply(pt)

In [ ]:
data['Prothrombin time'].fillna(-1,inplace=True)

In [ ]:
data['Prothrombin time'].isna().sum()

0

### Urine protein (mg)

In [ ]:
data['Urine protein (mg)'].value_counts()

Urine protein (mg)
Negative    57
Trace       13
2+          12
1+          11
3+           4
15           1
7.4          1
5.6          1
4.6          1
Name: count, dtype: int64

In [ ]:
data['Urine protein (mg)'].isna().sum()

142

In [ ]:
data['Urine protein (mg)'].fillna('-1',inplace=True)

In [ ]:
def urinepr(column):
    u=column
    if u in ['Negative','Not Present','NP']:
        return 0
    elif u=='NANA' or u=='-1':
        return -1
    elif type(u)!=float:
        return 1

In [ ]:
data['Urine protein (mg)']=data['Urine protein (mg)'].apply(urinepr)

In [ ]:
data['Urine protein (mg)'].value_counts()

Urine protein (mg)
-1    142
 0     57
 1     44
Name: count, dtype: int64

In [ ]:
data['Urine output (24 hr) (ml/Kg/Hr)'].value_counts()

Urine output (24 hr) (ml/Kg/Hr)
Normal       19
Increased     2
Decreased     1
Name: count, dtype: int64

In [ ]:
data['Urine output (24 hr) (ml/Kg/Hr)'].isna().sum()

221

In [ ]:
data['Urine output (24 hr) (ml/Kg/Hr)'].fillna('-1',inplace=True)

In [ ]:
data['Urine output (24 hr) (ml/Kg/Hr)'].isna().sum()

0

In [ ]:
data['Urine output (24 hr) (ml/Kg/Hr)'].value_counts()

Urine output (24 hr) (ml/Kg/Hr)
-1           221
Normal        19
Increased      2
Decreased      1
Name: count, dtype: int64

In [ ]:
def urout(column):
    ur=column
    if ur in ['Normal','Adequete','Adquete']:
        return 1
    elif ur in ['Decreased','oliguriya','oliguria']:
        return 2
    elif ur in ['Increased']:
        return 3
    elif ur=='Anuria':
        return 0
    else:
        return -1

In [ ]:
data['Urine output (24 hr) (ml/Kg/Hr)']=data['Urine output (24 hr) (ml/Kg/Hr)'].apply(urout)

In [ ]:
data['Urine output (24 hr) (ml/Kg/Hr)'].value_counts()

Urine output (24 hr) (ml/Kg/Hr)
-1    221
 1     19
 3      2
 2      1
Name: count, dtype: int64

In [ ]:
data['Other Investigations if any'].value_counts()

Other Investigations if any
Urine culture NG                                                                                                                                                                                                                                                                                                           20
Outside done Dengue NS1 Positive                                                                                                                                                                                                                                                                                            3
Urine culture- NG                                                                                                                                                                                                                                                                                                           3
Acetaminophen levels WNL                                                                                                                                                                                                                                                                                                    2
Urine culture Negative, Malarial parasite blood smear Negative, SARS- CoV2 IgM Negative IgG Positive, MRI brain and spine Normal, CSF biofire for meningoencephalitis panel- Negative                                                                                                                                       1
Urine Culture NG; Pleural fluid culture- Streptococcus pneuminiae; DCT Negative; NBT Test is Normal uptake                                                                                                                                                                                                                  1
Seum Ammonia <10 micro mol/L, Urine culture NG, Anti HAV IgM Negative, Anti HAV IgG positive, Anti HCG, HbsAg and HIV Negative                                                                                                                                                                                              1
Free T4 and TSH Normal                                                                                                                                                                                                                                                                                                      1
Dengue serology done outside NS1 and IgM Positive                                                                                                                                                                                                                                                                           1
Urine culture NG, Dengue Igm and IgG done outside is Positive                                                                                                                                                                                                                                                               1
Urine culture- Morganella Morganii 1,00,000 CFU/ml                                                                                                                                                                                                                                                                          1
Urine culture NG; Serum Iron 10.3 (low), TIBC 304 (N), Reticulocyte count 1.9 (N), Serum ferritin 92 (N), S. LDH high, Bone marrow aspiration smear shows reactive marrow with trilineage hematopoiesis with depleted iron stores                                                                                           1
Urine culture NG, Serum Amylase and Lipase Normal                                                                                                                                                                                                                                                                           1
Serum Protein N; S.Albumin Low, S.Cholesterol Normal                                                                                                                                                                                                                                                                        1
X Ray done outside- Bilateral bronchovascular markings with perihilar infiltrates seen                                                                                                                                                                                                                                      1
Outside done CBC: TC- 5960, Hb/PCV- 11.8/35.4, Pl.ct- 3.69 L, CRP - 3.6, Dengue NS1 Ag, Positive, MP- Negative                                                                                                                                                                                                              1
Urine culture NG, Ferritin- 20408 (H), HbsAg, Anti HCV and HIV- Negative, Outiside Dengue NS1- Positive                                                                                                                                                                                                                     1
S. LDH High, S. Triglycerides- BL HIgh and S.Ferritin High                                                                                                                                                                                                                                                                  1
Outside Dengue NS1 and IgM Positive                                                                                                                                                                                                                                                                                         1
Urine cultutr NG                                                                                                                                                                                                                                                                                                            1
S.IgE Normal; Sputum Culture- Staphylococcus Aureus                                                                                                                                                                                                                                                                         1
S.LDL- elevated, S.TGL- Normal, HIV, HBsAg and Anti HCV- Negative, Outside Dengue serology- NS1 Positive                                                                                                                                                                                                                    1
Urine culture NG, S.Amylase and S.Lipase elevated                                                                                                                                                                                                                                                                           1
Outside diagnosed as Dengue                                                                                                                                                                                                                                                                                                 1
Outside done Dengue serology positive (NS1 and IgM)                                                                                                                                                                                                                                                                         1
EBV VCA IgM Negative                                                                                                                                                                                                                                                                                                        1
Gene expert MTB Not detected                                                                                                                                                                                                                                                                                                1
Biofire Multiplex PCR- Adenovirus and Parainfluenza virus 3 detected                                                                                                                                                                                                                                                        1
Hepatitis A virus- negative; EBV Igm- negative                                                                                                                                                                                                                                                                              1
Bone marrow culture- Negative and Urine culture - Negative                                                                                                                                                                                                                                                                  1
HbsAg Negative, Anti HAV IgM Negative, Urine culture NG                                                                                                                                                                                                                                                                     1
COVID 19 TrueNAT Negative                                                                                                                                                                                                                                                                                                   1
S.Ferritin- 17152ng/ml (H), Plasma Fibrinogen- 253 (N), S.Triglycerides- 254 (H), PCT- 2.41 (H),                                                                                                                                                                                                                            1
S.Ferritin- 2813 (H), Urine culture NG                                                                                                                                                                                                                                                                                      1
NPA for H1N1 Positive; mantoux Negative                                                                                                                                                                                                                                                                                     1
CT Brain Normal                                                                                                                                                                                                                                                                                                             1
Urine Culture Enterococcus species and Candida Albicans                                                                                                                                                                                                                                                                     1
Urine culture- NG, CSF Culture NG, MTB Gene expert Negative                                                                                                                                                                                                                                                                 1
Urine culture Insignificant growth of Klebsiella Pneumoniae; EBV VCA IgM Negative                                                                                                                                                                                                                                           1
Urine ciluture NG                                                                                                                                                                                                                                                                                                           1
Salmonella Typhi IgM Negative                                                                                                                                                                                                                                                                                               1
Urine culture NG, Throat swab culture NG                                                                                                                                                                                                                                                                                    1
Anti HCV Negative; Urine culture Negative                                                                                                                                                                                                                                                                                   1
Rapid antigen detection teat for Strep. Pnemio Negative                                                                                                                                                                                                                                                                     1
X Ray done outside- Had right sided pleural effusion                                                                                                                                                                                                                                                                        1
Mantoux Negative                                                                                                                                                                                                                                                                                                            1
Urine culture- No growth                                                                                                                                                                                                                                                                                                    1
CBC done ouside- TC- 4400, (N65,L31,M3,B1), Hb/PCV- 11.4/34.9, Pl.ct- 2.22L, CRP- 32.90, ESR- 31 mm/hr, SGOT/SGPT- 49/23, Urine routine- 12-15 Pus cells, Ketone 3+, Dengue NS1/ IgM - Negative, Blood culture- NG. Respiratory Biofire (Nasopharyngeal swab) at KKCTH- Adenovirus Positive, Urine culture at KKCTH- NG     1
Name: count, dtype: int64

In [ ]:
data['Other Investigations if any'].isna().sum()

171

In [ ]:
data['Other Investigations if any'].fillna('0',inplace=True)

In [ ]:
data['Other Investigations if any']=le.fit_transform(data['Other Investigations if any'])

In [ ]:
data['Bacterial culture & sensitivity (Positive / Negative / not done )'].value_counts()

Bacterial culture & sensitivity (Positive / Negative / not done )
D           113
P            21
Positive      4
N             1
positive      1
Name: count, dtype: int64

In [ ]:
data['Bacterial culture & sensitivity (Positive / Negative / not done )'].isna().sum()

103

In [ ]:
data['Bacterial culture & sensitivity (Positive / Negative / not done )'].fillna('ND',inplace=True)

In [ ]:
data['Bacterial culture & sensitivity (Positive / Negative / not done )'].value_counts()

Bacterial culture & sensitivity (Positive / Negative / not done )
D           113
ND          103
P            21
Positive      4
N             1
positive      1
Name: count, dtype: int64

In [ ]:
def bact(column):
    ba=column
    if ba=='D':
        return 1
    if ba=='ND':
        return 0
    if ba in ['positive','P','Positive']:
        return 2
    if ba=='N':
        return 3

In [ ]:
data['Bacterial culture & sensitivity (Positive / Negative / not done )'].isna().sum()

0

In [ ]:
data['Bacterial culture & sensitivity (Positive / Negative / not done )']=data['Bacterial culture & sensitivity (Positive / Negative / not done )'].apply(bact)

In [ ]:
data['If positive, Organism']

0      NO GROWTH
1      NO GROWTH
12     NO GROWTH
13     NO GROWTH
14     NO GROWTH
         ...
356          NaN
357          NaN
358    NO GROWTH
359    NO GROWTH
360          NaN
Name: If positive, Organism, Length: 243, dtype: object

In [ ]:
data['If positive, Organism'].value_counts()

If positive, Organism
NO GROWTH                   105
Salmonella Typhi             22
Salmonella typhi              5
Salmonella Paratyphi A        4
-NA                           3
Pseudomonas Stutgeri          1
-                             1
Streptococcus pneumoniae      1
Name: count, dtype: int64

In [ ]:
data['If positive, Organism'].isna().sum()

101

In [ ]:
def orgenc(column):
    org=column
    if org=='NO GROWTH':
        return 0
    elif type(org)!=float and (org!='-NA' or org!='-'):
        return strencodegeneral(org)
    else:
        return -1

In [ ]:
data['If positive, Organism']=data['If positive, Organism'].apply(orgenc)

In [ ]:
data['If positive, Organism'].isna().sum()

0

In [ ]:
data['If positive, Organism'].value_counts()

If positive, Organism
 0       105
-1       101
 1590     22
 1622      5
 2107      4
 188       3
 2053      1
 45        1
 2498      1
Name: count, dtype: int64

In [ ]:
data['Dengue Viral Immunoassay (IgM) (Positive/Negative)']

0      133
1       -1
12     133
13      -1
14      -1
      ...
356    223
357    323
358    122
359    133
360    323
Name: Dengue Viral Immunoassay (IgM) (Positive/Negative), Length: 243, dtype: int64

In [ ]:
data['A/G ratio']

0       NaN
1       NaN
12     1.86
13      NaN
14      NaN
       ...
356     NaN
357     NaN
358     NaN
359     NaN
360     NaN
Name: A/G ratio, Length: 243, dtype: object

In [ ]:
data['A/G ratio'].value_counts()

A/G ratio
1.86    4
1.43    3
1.14    3
1       3
1.32    3
1.27    3
1.26    3
1.62    2
1.6     2
0.85    2
1.25    2
1.07    2
1.79    2
1.46    2
1.29    2
A       2
1.4     2
1.75    2
1.34    2
0.81    2
0.92    2
0.86    1
1.44    1
1.67    1
1.69    1
1.2     1
0.96    1
0.64    1
0.88    1
1.17    1
1.41    1
1.15    1
1.53    1
0.78    1
1.33    1
1.3     1
2.25    1
1.09    1
1.73    1
1.18    1
1.31    1
1.16    1
0.95    1
2       1
1.52    1
1.56    1
0.93    1
1.47    1
1.08    1
0.97    1
0.77    1
0.84    1
1.42    1
1.05    1
1.11    1
1.19    1
1.12    1
0.87    1
0.76    1
Name: count, dtype: int64

In [ ]:
data['A/G ratio'].isna().sum()

155

In [ ]:
def agrat(column):
    ag=column
    if type(ag)!=float and ag.isalpha()==False and ag!='-':
        return float(ag)
    else:
        return None

In [ ]:
data['A/G ratio']=data['A/G ratio'].apply(agrat)

In [ ]:
data['A/G ratio'].isna().sum()

157

In [ ]:
data['A/G ratio'].fillna(data['A/G ratio'].median(),inplace=True

                        )

In [ ]:
data['A/G ratio'].isna().sum()

0

In [ ]:
data['USG Abd report']

0                                           Normal study
1      Mild diffude bladder wall thickening s/o Dysfu...
12                                          Normal study
13                              Minor Hepatosplenomegaly
14                                                   NaN
                             ...
356    GB wall thickening; Moderate Ascites and Right...
357    Mild moderate ascities with bilateral pleural ...
358                                                  NaN
359                                                  NaN
360                                                  NaN
Name: USG Abd report, Length: 243, dtype: object

In [ ]:
data['USG Abd report'].value_counts()

USG Abd report
Normal study                                                                                                                                                                                                                                                                                        10
Mild hepatomegaly                                                                                                                                                                                                                                                                                    3
GB wall thickening; Moderate Ascites and Right pleural effussion S/O Dengue                                                                                                                                                                                                                          2
Normal                                                                                                                                                                                                                                                                                               2
Moderate hepatosplenomegaly. Small volume ascites in lower abdomen. Tiny Right pleural effusion                                                                                                                                                                                                      2
Minor Hepatosplenomegaly                                                                                                                                                                                                                                                                             2
Mild hepatomegaly minimal left pelvicalyceal dilatation                                                                                                                                                                                                                                              1
Liver, pancreas normal, spleen showed two small cysts                                                                                                                                                                                                                                                1
Mild hepatomegaly with significant gall bladder wall thickening                                                                                                                                                                                                                                      1
Mild hepatosplenomegaly, gall bladder wall thickening, moderate volume ascitis, bilateral small pleural effusion                                                                                                                                                                                     1
Mild hepatosplenomegaly, homogenous liver echotexture, No ascites                                                                                                                                                                                                                                    1
Mild to moderate ascites, GB wall thickened and edematous                                                                                                                                                                                                                                            1
Mild spenomegaly with fecal loadind                                                                                                                                                                                                                                                                  1
Mild hepatosplenomegaly, bilateral nephromegaly                                                                                                                                                                                                                                                      1
Marked GB wall thickening, moderate volume ascites with small right pleural effusion- features suggestive of Dengue                                                                                                                                                                                  1
Mild hepatosplenomegaly, gall bladder wall thickening, multiple enlarged mesentric nodes in right iliac fossa, small volume free fluid                                                                                                                                                               1
K/C/O Enteric fever/possible contained perforation                                                                                                                                                                                                                                                   1
Mild hepatomegaly GB wall thickening,B/l Nephrosplenomegaly mulitiple enlarged mesenteric nodes in RIF                                                                                                                                                                                               1
Minimal GB wall thickening, Moderate Hepatosplenomegaly, bilateral Nephromegaly with minor increase in cortical echogenecity                                                                                                                                                                         1
Moderate GB wall thickening. Moderate volume ascites. Bilateral moderate size pleural effussion. Features of Dengue. Small right kidney with parenchymal thinning in lower pole. Minor right calyceal dilatation with a mildly dialted extra renal pelvis. Likely sequelae of reflux nephropathy     1
Minimal right pleural effussion                                                                                                                                                                                                                                                                      1
Marked GB wall thickening, moderate volume ascites with small right pleural effussion- features suggestive of Dengue                                                                                                                                                                                 1
Mild hepatosplenomegaly, gall bladder wall thickening, nephromegaly, small volume ascitis- features suggestive of complicated enteric                                                                                                                                                                1
Extensive GB wall edema, Minimal bilateral pleural effussion, moderate ascites, IVC and hepatic vein partially collapsed- Probable dengue related serositis                                                                                                                                          1
Mild hepatosplenomegaly                                                                                                                                                                                                                                                                              1
Mild Hepatomegaly, Non-specific mesenteric adenitis, minimal fluid seen in the pelvis                                                                                                                                                                                                                1
Grossly edematous anterior abdominal wall, minimal free fluid abdomen, grossly distened bowel loops, mild hepatomegaly, bulky kidneys                                                                                                                                                                1
Right sided ascitis (2.5cm)                                                                                                                                                                                                                                                                          1
Bilateral mild Nephromegaly. Small amount of free fluid in lower abdomen                                                                                                                                                                                                                             1
Bilateral minimal hydrocele and reactive scrotal wall edema. Vascularity of testes normal                                                                                                                                                                                                            1
Mild Splenomegaly, mild GB wall thickening, enlarged mesentric nodes in right iliac fossa, small amount of free fluid abdomen, minimal left pelvicalyceal dialtion                                                                                                                                   1
Minor Hepatosplenomegaly with duplex moiety in left kidney                                                                                                                                                                                                                                           1
Left Pyelonephritis                                                                                                                                                                                                                                                                                  1
Mild Hepatosplenomegaly; Bilateral Nephromegaly                                                                                                                                                                                                                                                      1
Mild Hepatosplenomegaly                                                                                                                                                                                                                                                                              1
Hepatosplenomegaly                                                                                                                                                                                                                                                                                   1
Mild hepatomegaly, mild GB wall thickening, mild minor pelvicalyceal dilation                                                                                                                                                                                                                        1
Significant fecal loading                                                                                                                                                                                                                                                                            1
Mild splenomegaly                                                                                                                                                                                                                                                                                    1
Bladder features s/o Dysfunctional voiding. Minor Left Pelvicalyceal Dilatation                                                                                                                                                                                                                      1
Mild Hepatomegaly                                                                                                                                                                                                                                                                                    1
Moderate hepatosplenomegaly with thin left pleural effusion                                                                                                                                                                                                                                          1
A large multiseptated cystic lesion in the midline of upprt abdomen suggestive of Lymphatic malformation                                                                                                                                                                                             1
Mild Hepatosplenomegaly/ GB edema/Probable mesenteric adenopathy                                                                                                                                                                                                                                     1
Mild Hepatosplenomegaly/ GB edema/ small volume ascites                                                                                                                                                                                                                                              1
Mild splenomegaly, enlarged mesenteric nodes in Right iliac fossa, mural thickening in terminal ileum and caecum- features suggestive of enteric fever                                                                                                                                               1
Increased liver echogenicity with hepatomegaly without any evidence of Portal Hypertension, moderate splenomegaly, Bilateral nephromegaly. Marked gall bladder wall thickening with bilateral pleural effussion (Right > Left). Large volume ascites                                                 1
Mild right nephromegaly to consider right pyelonephritis                                                                                                                                                                                                                                             1
Mild hepatomegaliy with minimal volume ascites; USG chest: left lower lobe consolidation with minimal synpneumonic effusion                                                                                                                                                                          1
Mild right Hydroureteronephrosis                                                                                                                                                                                                                                                                     1
Ascites with GB wall edema                                                                                                                                                                                                                                                                           1
Mild diffude bladder wall thickening s/o Dysfunctional voiding                                                                                                                                                                                                                                       1
Mild moderate ascities with bilateral pleural effusion                                                                                                                                                                                                                                               1
Name: count, dtype: int64

In [ ]:
def usg(column):
    us=column
    if us in ['Normal study','Normal']:
        return 0
    elif type(us)!=float:
        return strencodegeneral(us)

In [ ]:
data['USG Abd report']=data['USG Abd report'].apply(usg)

In [ ]:
data['USG Abd report'].isna().sum()

175

In [ ]:
data['USG Abd report'].fillna('-1',inplace=True)

In [ ]:
data['USG Abd report'].value_counts()

USG Abd report
-1         175
0.0         12
1702.0       3
2454.0       2
6902.0       2
9159.0       2
4747.0       1
2317.0       1
6131.0       1
10835.0      1
6382.0       1
5300.0       1
3388.0       1
4702.0       1
12808.0      1
5066.0       1
3084.0       1
11939.0      1
8571.0       1
11083.0      1
12895.0      1
14607.0      1
2359.0       1
8045.0       1
12805.0      1
9695.0       1
5439.0       1
10968.0      1
27310.0      1
2365.0       1
15219.0      1
1670.0       1
5697.0       1
1930.0       1
4621.0       1
2327.0       1
1905.0       1
7294.0       1
2440.0       1
1718.0       1
7542.0       1
5872.0       1
6781.0       1
10073.0      1
6141.0       1
5175.0       1
14281.0      1
23285.0      1
5574.0       1
11911.0      1
3275.0       1
5955.0       1
5292.0       1
Name: count, dtype: int64

In [ ]:
data['Final Diagnosis']

0                                 Probable viral illness
1                                 Probable viral illness
12              Probably partially treated Enteric fever
13         Fever under evaluation/ Probable scrub typhus
14                                Probable viral illness
                             ...
356                            Dengue with warning signs
357    Severe Dengue (Resolved )mild intermittent asthma
358                    Acute viral illness/ Dengue fever
359                                                   ND
360                            Dengue with warning signs
Name: Final Diagnosis, Length: 243, dtype: object

In [ ]:
dict(data['Final Diagnosis'].value_counts())

{'Dengue with warning signs': 54,
 'Probable viral illness': 16,
 'Severe Dengue': 13,
 'Dengue fever': 9,
 'Severe Dengue with compensated shock': 4,
 'Scrub Typhus': 4,
 'Enteric fever': 4,
 'Occult Bacteremia': 3,
 'Enteric Fever': 3,
 'Culture positive enteric fever': 3,
 'Confirmed enteric fever': 3,
 'Probable Dengue fever': 2,
 'Culture proven enteric fever': 2,
 'Probable enteric fever': 2,
 'Secondary Dengue with warning signs': 2,
 'Culture proven Enteric Fever': 2,
 'Lower Respiratory Tract Infection': 2,
 'Probable Enteric fever': 2,
 'Dengue with warning signs/ Primary Nocturnal Eneuresis': 1,
 'Severe pneumococcal pneumonia with sepsis/ Left empyema and pneumothorax/ Bronchopleural fistula': 1,
 'Complicated Urinary Tract Infection/ Grade 4 Vesicouretric reflux/ Constipation/ Iron deficiency anemia': 1,
 'Dengue with warning signs (recovered)': 1,
 'Acute onset liver failure with hepatice encephalopathy with superadded dengue infection': 1,
 'Secondary Dengue with compensated shock/ Right sided massive pleural effussion/ Acute liver failure (Resolving)/ Hypokalemia (Resolved)': 1,
 'Severe Dengue with acute hepatitis (recovered) with exaggerated inflammatory response': 1,
 'Enteric fever (Salmonella Typhi)': 1,
 'Confirmed Enteric Fever- Paratyphoid A': 1,
 'Left Lower Lobe Pneumonia': 1,
 'Severe Dengue recovered': 1,
 'Pyrexia of unknown origin under evealuation': 1,
 'K/C/O Type-1 DM/ Dengue with warning signs': 1,
 'Probable Scrub Typhus': 1,
 'Severe Dengue with secondary Hemophagocytic Lymphohistiocytosis': 1,
 'Infantile Dengue': 1,
 'Vanishing white matter disease/progressive leucoencephalopathy/Adenoviral/Parainfluenza Pneumonia': 1,
 'Infantile Dengue with warning signs': 1,
 'Dengue with warning signs- recovered': 1,
 'Acute febrile illness/Probably enteric fever': 1,
 'Acute Febrile illness': 1,
 'Infantile Dengue with warning signs with acute hepatitis': 1,
 'Severe Dengue with decompensated shock/ Acute liver failure (resolving)': 1,
 'Acute encephalopathy  cause': 1,
 'Dengue fever/ fever triggered seizures': 1,
 'Severe Dengue/ Multiorgan dysfunction- Acute Liver failure, Acute Kidney injury and coagulopathy/ Gastro intestinal sepsis': 1,
 'Acute viral illness/ Dengue fever': 1,
 'Severe Dengue (Resolved )mild intermittent asthma': 1,
 'Infantile Dengue fever': 1,
 'Dengue fever (IGM POSITIVE)': 1,
 'Probable viral illness with wheeze': 1,
 'Enteric Fever Salmonella paratyphi -A': 1,
 'Enteric Fever ( Culture positive)': 1,
 'Confirmed enteric fever salmonella thphi': 1,
 'Dengue like illness /K/C/O developmental delay autistic spectrum disorder': 1,
 'Dengue fever with compensated shock': 1,
 'Multi triggered wheeze/ Acute exacerbation with viral lower respiratory tract infection': 1,
 'Viral Fever (Adenovirus Positive)': 1,
 'Viral illness': 1,
 'Viral Illness (Upper Respiratory infection with conjunctivitis)': 1,
 'Scrub Typhus with Anemia/  Infection associated/  Iron deficiency': 1,
 'Viral Lower Respiratory Tract Infection': 1,
 'Probable Viral illness': 1,
 'Acute febrile illness (Viral)': 1,
 'Severe Dengue with secondary HLH': 1,
 'Severe Dengue/ Multiorgan dysfunction- Acute Liver failure/ Acute Kidney injury- on CRRT/ Shock- recovered': 1,
 'Complicated Enteric/ SIRS': 1,
 'Scrub typhus': 1,
 'Dengue fever/ Occult Bacteremia': 1,
 'Dengue with warning signs/ Scrub Typhus': 1,
 'Complicated Enteric fever/ small bowel perforation': 1,
 'Acute Bacterial Rhinosinusitis': 1,
 'Severe Dengue with hepatitis- Recovered': 1,
 'Complicated Enteric Fever': 1,
 'Dengue with warning signs/ Right Pyelonephritis': 1,
 'Viral Illness with conjunctivitis': 1,
 'Dengue with warning signs-Recovered/ VSD on followup': 1,
 'Probable Acute Meningo Encephalitis': 1,
 'Swine Flu H1N1 Positive with Probable Myositis': 1,
 'RSV Positive/ Severe Dengue Coinfection': 1,
 'Culture Positive Enteric Fever': 1,
 'Severe Infantile dengue': 1,
 'Scrub Typhus with hospital acquired infection- viral illness': 1,
 'Recurrent fever with pancytopenia- probable Immune Cytopenia': 1,
 'Probable Enteric/ Viral': 1,
 'Viral Illness/ Iron Deficienct Anemia': 1,
 'Right upper lobe Pneumonia/ Dengue Co-infection': 1,
 'Left lower lobe pneumonia with minimal pleural effusion': 1,
 'Bilateral severe pneumonia with Bilateral pneumatocele': 1,
 'Probable viral Illness/ Multitriggered wheeze': 1,
 'Viral Illness': 1,
 'Culture positive Enteric fever- Salmonella Typhi': 1,
 'PUO under evaluation/Auto-inflammatory condition': 1,
 'Acute febrile illness with anicteric severe hepatitis': 1,
 'Viral Fever': 1,
 'Scrub Typhus with ARDS': 1,
 'Acute bacterial sinusitis': 1,
 'Maxillary sinusitis with Right preseptal cellulitis': 1,
 'Urinary tract infection': 1,
 'Probable Scrub Typhus/ Left Pyelonephritis': 1,
 '1st epiode febrile seizure/ fever without focus': 1,
 'Pyrexia of unknown origin/Non-infective Inflammatory': 1,
 'Fever under evaluation/ Probable scrub typhus': 1,
 'Dengue febrile illness': 1,
 'K/C/O Autoimmune thyroiditis with Severe Dengue': 1,
 'Confirmed Enteric Fever': 1,
 'Severe Dengue with encephalopathy/ Fulminant Hepatic failure/ Acute Kidney Injury-Resolved/ Jacquet Erosive Dermatitis': 1,
 'Severe Dengue with acute liver failure/ Secondary Hemophagocytic lymphohistiocytosis/ Sepsis': 1,
 'Multiorgan dysfunction syndrome/Severe Dengue/ Secondary HLH': 1,
 'Confirmed Enteric fever': 1,
 'Dengue without warning signs': 1,
 'Probable Enteric Fever': 1,
 'Probably partially treated Enteric fever': 1,
 'Severe Dengue Fever with hypotensive shock/ organ impairement- Acute liver failure (Recovered)/ Third spacing': 1,
 'Acute febrile illness': 1,
 'Dengue fever with warning sign (Dengue NS1-Positive); Pending Enteric culture': 1,
 'Pyrexia of unknown origin': 1,
 'Left Acute Parotitis/ Dengue with warning signs': 1,
 'Probable Viral Illness': 1,
 'Confirmed Enteric Fever- Salmonella Typhi': 1,
 'Acute Febrile illness/ 1st episode simple febrile seizures/ Probable Viral illness': 1,
 'Dengue Fever with Viral lower respiratory tract infcetion': 1,
 'Scrub Typhus/ Pulmonary Edema (Recovered)': 1,
 'Nephrotic Syndrom- Frequent relapse/ Scrub Typhus': 1,
 'Severe Dengu/ Secondary Dengue': 1,
 'Scrub Typhus with MODS and ARDS': 1,
 'Scrub Meningoencephalitis': 1,
 'Viral Fever/ Simple Febrile Seizures': 1,
 ' Dengue/  Dengue like viral illness': 1,
 'Severe Dengue/Sepsis/Anemia/Poland Anamoly': 1,
 'Prolonged febrile illness': 1,
 'Paratyphoid fever': 1,
 'ND': 1}

In [ ]:
data['Final Diagnosis']=le.fit_transform(data['Final Diagnosis'])

In [ ]:
data['Final Diagnosis']

0       81
1       81
12      83
13      51
14      81
      ...
356     38
357    103
358     12
359     65
360     38
Name: Final Diagnosis, Length: 243, dtype: int64

In [ ]:
data['AUF Result']

0                                               Negative
1      Positive for Dengue (Serotype DEN3) and Ricket...
12                                              Negative
13                                              Negative
14                                              Negative
                             ...
356                                             Negative
357                  Positive for Dengue (Serotype DEN1)
358                                             Negative
359                                             Negative
360                  Positive for Dengue (Serotype DEN3)
Name: AUF Result, Length: 243, dtype: object

In [ ]:
data['AUF Result'].value_counts()

AUF Result
Negative                                                               123
Positive for Dengue (Serotype DEN2)                                     34
Positive for Dengue (Serotype DEN3)                                     29
Positive for Dengue (Serotype DEN2) and Inconclusive for Rickettsia     11
Positive for Dengue (Serotype DEN1)                                     11
Positive for Dengue (Serotype DEN2) and Rickettsia                       8
Positive for Salmonella                                                  5
Positive for Rickettsia                                                  4
Inconclusive for Dengue                                                  3
Inconclusive for Dengue (Serotype DEN3)                                  3
Positive for Dengue (Serotype DEN3) and Rickettsiae                      3
Positive for Dengue                                                      2
Inconclusive for Rickettsia                                              1
Inconclusive for Dengue (Serotype DEN2)                                  1
Inconclusive for Salmonella                                              1
Positive for Dengue (Serotype DEN3) and Salmonella                       1
Positive for Dengue (Serotype DEN3), Inconclusive for Rickettsiae        1
Inconclusive for Plasmodium                                              1
Name: count, dtype: int64

In [ ]:
def aufresult(column):
    auf=column
    if auf=='NEGATIVE':
        return 'Negative'
    else:
        return

In [ ]:
data['AUF Result'].isna().sum()

1

In [ ]:
data['AUF Result'].fillna('Not Done',inplace=True)

In [ ]:
data['AUF Result']=le.fit_transform(data['AUF Result'])

In [ ]:
data['AUF Result'].isna().sum()

0

In [ ]:
data['AUF Result'].value_counts()

AUF Result
6     123
10     34
13     29
11     11
9      11
12      8
18      5
17      4
0       3
2       3
14      3
8       2
4       1
7       1
1       1
5       1
15      1
16      1
3       1
Name: count, dtype: int64

## Numerical Columns

### RR and PR

In [ ]:
data['RR'].isna().sum()

0

In [ ]:
for i in data['RR']:
    if type(i)==float or i.isnumeric()==False:
        print(i)

-

### Function to convert str to int values if int strings

In [ ]:
def rrpr(column):
    rrpr=column
    if type(rrpr)!=float and rrpr.isnumeric():
        return int(rrpr)
    else:
        return None

In [ ]:
data['RR']=data['RR'].apply(rrpr)

In [ ]:
data['RR'].isna().sum()

1

In [ ]:
data['RR'].fillna(data['RR'].median(),inplace=True)

In [ ]:
data['RR'].isna().sum()

0

In [ ]:
data['PR'].isna().sum()

0

In [ ]:
for i in data['PR']:
    if type(i)==float or i.isnumeric()==False:
        print(i)

-

In [ ]:
data['PR']=data['PR'].apply(rrpr)

In [ ]:
data['PR'].isna().sum()

1

In [ ]:
data['PR'].fillna(data['PR'].median(),inplace=True)

In [ ]:
data['PR'].isna().sum()

0

### Temperature

In [ ]:
data['Temperature']

0      100.6
1        104
12      98.4
13      98.4
14     100.8
       ...
356     98.4
357      100
358    100.5
359      101
360     98.4
Name: Temperature, Length: 243, dtype: object

In [ ]:
data['Temperature'].isna().sum()

0

In [ ]:
data['Temperature'][0].isnumeric()

False

In [ ]:
def temp(column):
    t=column
    try:
        float(t)
        return float(t)
    except ValueError:
        return None
    return None

In [ ]:
data['Temperature']=data['Temperature'].apply(temp)

In [ ]:
data['Temperature'].isna().sum()

1

In [ ]:
data['Temperature'].fillna(data['Temperature'].median(),inplace=True)

In [ ]:
data['Temperature'].isna().sum()

0

### Blood Pressure

In [ ]:
list(data['BP'])

['108/60',
 '95/57',
 '103/63',
 '109/59',
 '81/47',
 '100/60',
 '98/62',
 '101/56',
 '118/68',
 '82/40',
 '106/58',
 '98/57',
 '110/62',
 '106/67',
 '102/60',
 '94/59',
 '84/46',
 '106/50',
 '82/54',
 '97/54',
 '85/53',
 '98/58',
 '79/40',
 '112/60',
 '96/53',
 '81/43',
 '97/58',
 '97/45',
 '88/57',
 '108/67',
 '88/50',
 '88/50',
 '125/85',
 '93/67',
 '90/60',
 '102/50',
 '91/69',
 '98/32',
 '104/60',
 '96/63',
 '96/63',
 '97/57',
 '90/56',
 '105/65',
 '92/54',
 '105/62',
 '99/52',
 '94/54',
 '102/65',
 '97/70',
 '106/66',
 '92/56',
 '100/59',
 '113/68',
 '110/60',
 '100/59',
 '110/60',
 '90/60',
 '104/70',
 '105/47',
 '138/58',
 '107/68',
 '98/60',
 '118/73',
 '96/48',
 '114/72',
 '98/56',
 '83/40',
 '85/69',
 '109/68',
 '94/62',
 '92/63',
 '109/70',
 '107/58',
 '103/47',
 '84/39',
 '92/51',
 nan,
 '101/52',
 '92/47',
 '90/60',
 '102/59',
 '104/78',
 '101/59',
 '100/60',
 '97/62',
 '122/74',
 '103/84',
 '107/66',
 '90/50',
 '106/54',
 '100/60',
 '90/50',
 '94/62',
 '123/63',
 '106/68',
 '91/66',
 '102/76',
 '107/69',
 '99/52',
 '94/60',
 '117/68',
 '115/64',
 '103/77',
 '98/58',
 '58/38',
 '94/62',
 '96/52',
 '123/88',
 '98/65',
 '102/60',
 '124/78',
 '127/92',
 '90/57',
 '100/60',
 '100/70',
 '101/60',
 '105/69',
 '98/67',
 '97/69',
 '113/77',
 '110/78',
 '120/80',
 '109/50',
 '93/56',
 '90/26',
 '118/68',
 '135/81',
 '98/68',
 '119/73',
 '103/74',
 '115/95',
 '94/49',
 '117/72',
 '103/74',
 '104/74',
 '115/94',
 '92/68',
 '112/70',
 '99/69',
 '100/50',
 '100/60',
 '110/62',
 '104/74',
 '110/64',
 '86/60',
 '86/50',
 '103/62',
 '96/50',
 '88/53',
 '110/80',
 '104/68',
 '97/63',
 '98/67',
 '117/65',
 '101/58',
 '108/71',
 '70/54',
 '92/58',
 '116/88',
 '118/83',
 '101/77',
 '106/60',
 '118/64',
 '105/77',
 '100/60',
 '100/64',
 '119/74',
 '82/43',
 '120/80',
 '128/86',
 '88/50',
 '120/82',
 '97/50',
 '110/80',
 '119/73',
 '80/50',
 '102/61',
 '120/80',
 '103/58',
 '109/45',
 '92/62',
 '95/65',
 '98/56',
 '96/52',
 '98/58',
 '94/56',
 '102/80',
 '100/60',
 '104/69',
 '98/48',
 '120/80',
 '105/77',
 '104/66',
 '100/68',
 '102/64',
 '98/58',
 '93/53',
 '102/53',
 '114/79',
 '121/89',
 '106/65',
 '96/42',
 '98/51',
 '110/80',
 '89/52',
 '100/70',
 '101/68',
 '101/63',
 '102/53',
 '113/91',
 '100/60',
 '120/62',
 '97/65',
 '130/70',
 '99/60',
 '125/76',
 '109/65',
 '114/74',
 '100/70',
 '98/60',
 '103/59',
 '107/67',
 '95/64',
 '101/68',
 '125/76',
 '90/56',
 '104/75',
 '125/76',
 '114/56',
 '118/81',
 '101/60',
 '106/67',
 '110/68',
 '110/60',
 '100/70',
 '110/66',
 '100/60',
 '94/68',
 '120/62',
 '107/73',
 '100/70',
 '113/74']

In [ ]:
data['BP'].isna().sum()

1

In [ ]:
def bp(column):
    b=column
    if type(b)!=float:
        bpl=[float(i) for i in b.split('/')]
        if bpl[0]<=120 and bpl[1]<=80:
            #NORMAL
            return 1
        elif (bpl[0]>120 and bpl[0]<=129) and bpl[1]<=80:
            # ELEVATED
            return 2
        elif (bpl[0]>=130 and bpl[0]<=139) or (bpl[1]>80 and bpl[1]<=89):
            # HIGH BP STAGE 1
            return 3
        elif (bpl[0]>=140 and bpl[0]<=180) or (bpl[1]>=90 and bpl[1]<=120):
            # HIGH BP STAGE 2
            return 4
        elif (bpl[0]>180) or (bpl[1]>120):
            #HYPERTENSIVE CRISIS
            return 5
    else:
        return 0

In [ ]:
data['BP']=data['BP'].apply(bp)

In [ ]:
data['BP'].isna().sum()

0

In [ ]:
data['Total count'].value_counts()

Total count
5300.0    4
6200.0    4
5200.0    4
5000.0    3
3200.0    3
         ..
3780.0    1
8000.0    1
5070.0    1
7300.0    1
2660.0    1
Name: count, Length: 185, dtype: int64

In [ ]:
data['Total count'].isna().sum()

9

In [ ]:
count=0
for i in data['Total count']:
    if type(i)==float:
        print(i)
        count+=1

print(count)

7410.0
5500.0
9900.0
9800.0
8200.0
8200.0
7500.0
13100.0
7900.0
24700.0
14980.0
21600.0
16100.0
7000.0
15100.0
21700.0
9940.0
4520.0
9500.0
22600.0
9360.0
9160.0
9730.0
8100.0
11300.0
11700.0
10300.0
4900.0
5260.0
7670.0
3770.0
8420.0
11210.0
6810.0
5000.0
16400.0
4900.0
2200.0
16000.0
5800.0
5800.0
3900.0
23300.0
1700.0
5300.0
5600.0
15180.0
7700.0
8900.0
3200.0
2970.0
17800.0
10510.0
4160.0
7290.0
4600.0
25400.0
2700.0
2440.0
7200.0
14680.0
4100.0
5700.0
11600.0
5900.0
3500.0
11150.0
17160.0
7360.0
9200.0
10980.0
5300.0
1600.0
3830.0
3620.0
15530.0
2320.0
5660.0
8100.0
2710.0
3780.0
8000.0
3900.0
5070.0
2700.0
7300.0
2100.0
14600.0
3700.0
26370.0
10400.0
1660.0
5170.0
2150.0
2330.0
15180.0
4970.0
2900.0
7630.0
9010.0
3770.0
7600.0
4200.0
2500.0
18050.0
11690.0
2000.0
8870.0
1440.0
8620.0
4290.0
12930.0
3050.0
10600.0
5500.0
3450.0
4930.0
4200.0
4100.0
10250.0
6560.0
5030.0
6173.0
7910.0
12470.0
9000.0
13000.0
5400.0
14000.0
8930.0
23600.0
6600.0
21790.0
6200.0
5290.0
4490.0
5100.0
7900.0
nan
6100.0
9670.0
5800.0
6120.0
4600.0
5300.0
3300.0
7160.0
13720.0
6120.0
6700.0
5000.0
10680.0
5600.0
5710.0
7200.0
6200.0
5810.0
5200.0
6000.0
62100.0
9000.0
2730.0
3200.0
6720.0
1400.0
14720.0
1800.0
11460.0
7200.0
2430.0
8100.0
6260.0
7000.0
13300.0
7900.0
nan
17000.0
3200.0
2270.0
17700.0
5830.0
6000.0
3400.0
11700.0
4500.0
nan
11600.0
2000.0
4170.0
8660.0
2240.0
6620.0
2600.0
6200.0
5610.0
18730.0
5550.0
7100.0
12100.0
20490.0
5700.0
12760.0
6430.0
nan
nan
18240.0
8700.0
4800.0
5310.0
2600.0
1410.0
5000.0
8800.0
5300.0
3380.0
2420.0
nan
nan
nan
3810.0
7000.0
4000.0
5200.0
6200.0
6100.0
3450.0
5200.0
5200.0
2800.0
6000.0
12800.0
6500.0
9400.0
10000.0
4780.0
nan
13810.0
4000.0
4000.0
13900.0
2800.0
6620.0
2660.0
243

In [ ]:
data['Total count'].fillna(data['Total count'].median(),inplace=True)

In [ ]:
data['Total count'].isna().sum()

0

### Platelet count

In [ ]:
data['Platelet count']

0       3170
1       2870
12      3820
13     83000
14      3010
       ...
356       24
357       88
358      124
359      261
360       72
Name: Platelet count, Length: 243, dtype: object

In [ ]:
data['Platelet count'].isna().sum()

2

In [ ]:
data['Platelet count']=data['Platelet count'].apply(rrpr)

In [ ]:
data['Platelet count'].fillna(data['Platelet count'].median(),inplace=True)

In [ ]:
data['Platelet count'].isna().sum()

0

In [ ]:
data['Platelet count']

0       3170.0
1       2870.0
12      3820.0
13     83000.0
14      3010.0
        ...
356       24.0
357       88.0
358      124.0
359      261.0
360       72.0
Name: Platelet count, Length: 243, dtype: float64

### SGOT

In [ ]:
data['SGOT']

0       42
1       26
12      37
13     238
14      43
      ...
356    247
357    888
358     27
359     30
360    308
Name: SGOT, Length: 243, dtype: object

In [ ]:
data['SGOT'].isna().sum()

14

In [ ]:
data['SGOT']=data['SGOT'].apply(rrpr)

In [ ]:
data['SGOT'].fillna(data['SGOT'].median(),inplace=True)

In [ ]:
data['SGOT'].isna().sum()

0

### SGPT

In [ ]:
data['SGPT']

0       12
1       11
12      56
13     135
14      27
      ...
356     59
357    519
358     58
359     16
360    279
Name: SGPT, Length: 243, dtype: object

In [ ]:
data['SGPT'].isna().sum()

14

In [ ]:
data['SGPT']=data['SGPT'].apply(rrpr)

In [ ]:
data['SGPT'].fillna(data['SGPT'].median(),inplace=True)

In [ ]:
data['SGPT'].isna().sum()

0

In [ ]:
list(data['S. creatinine (mg%)'])

[0.25,
 0.35,
 0.55,
 0.43,
 nan,
 0.49,
 0.29,
 0.57,
 0.62,
 0.2,
 0.31,
 0.47,
 0.38,
 nan,
 0.54,
 0.42,
 0.28,
 0.69,
 nan,
 0.62,
 0.58,
 0.63,
 0.6,
 nan,
 nan,
 0.36,
 nan,
 0.4,
 0.59,
 nan,
 nan,
 0.25,
 0.38,
 0.5,
 nan,
 0.41,
 0.38,
 0.2,
 nan,
 0.14,
 0.14,
 0.56,
 0.37,
 0.63,
 0.13,
 0.2,
 nan,
 0.26,
 0.31,
 0.46,
 0.63,
 0.43,
 0.47,
 nan,
 0.68,
 nan,
 0.55,
 0.51,
 0.66,
 0.81,
 0.85,
 0.48,
 0.44,
 nan,
 0.55,
 1.01,
 0.45,
 0.43,
 0.58,
 0.7,
 0.61,
 nan,
 0.46,
 0.34,
 0.57,
 0.24,
 0.57,
 0.6,
 0.55,
 nan,
 0.49,
 0.19,
 0.49,
 0.87,
 nan,
 0.83,
 0.56,
 0.29,
 0.3,
 nan,
 0.5,
 nan,
 0.83,
 0.6,
 0.77,
 0.42,
 0.63,
 nan,
 nan,
 0.19,
 0.18,
 0.95,
 0.35,
 0.42,
 nan,
 1.29,
 0.74,
 0.37,
 0.52,
 nan,
 0.48,
 0.62,
 1.02,
 0.39,
 0.56,
 0.89,
 nan,
 nan,
 0.65,
 nan,
 1.1,
 0.7,
 nan,
 nan,
 0.45,
 0.47,
 1.07,
 1.1,
 0.61,
 0.37,
 nan,
 0.31,
 0.67,
 0.2,
 0.51,
 nan,
 0.23,
 0.43,
 nan,
 nan,
 nan,
 0.55,
 0.64,
 0.26,
 0.7,
 0.71,
 nan,
 0.36,
 0.14,
 0.3,
 0.41,
 0.39,
 0.45,
 0.41,
 0.56,
 0.98,
 0.89,
 0.37,
 nan,
 0.42,
 0.51,
 0.55,
 0.54,
 0.23,
 0.56,
 0.49,
 0.56,
 0.61,
 0.14,
 nan,
 0.18,
 0.46,
 nan,
 0.31,
 0.43,
 nan,
 0.53,
 0.35,
 nan,
 0.43,
 0.23,
 0.29,
 nan,
 0.38,
 nan,
 0.34,
 0.15,
 0.44,
 0.71,
 0.28,
 0.77,
 nan,
 0.46,
 0.38,
 nan,
 nan,
 0.57,
 nan,
 nan,
 0.8,
 0.43,
 0.94,
 0.41,
 nan,
 0.98,
 0.61,
 0.48,
 0.67,
 0.33,
 nan,
 0.56,
 0.42,
 nan,
 nan,
 0.96,
 0.82,
 nan,
 nan,
 0.88,
 38.0,
 17.0,
 0.55,
 nan,
 0.55,
 0.58,
 0.7,
 0.53,
 0.98,
 0.81,
 nan,
 0.81,
 nan,
 0.54,
 0.3,
 0.44,
 nan,
 0.39,
 0.44,
 nan,
 0.62,
 0.64,
 0.56,
 0.62]

In [ ]:
data['S. creatinine (mg%)'].value_counts()

S. creatinine (mg%)
0.55     8
0.56     8
0.43     7
0.38     5
0.42     5
        ..
0.13     1
0.59     1
0.40     1
0.69     1
17.00    1
Name: count, Length: 74, dtype: int64

In [ ]:
data['S. creatinine (mg%)'].isna().sum()

57

In [ ]:
def floathandle(column):
    fh=column
    if fh!=float:
        return float(fh)

In [ ]:
data['S. creatinine (mg%)']=data['S. creatinine (mg%)'].apply(floathandle)

In [ ]:
data['S. creatinine (mg%)'].fillna(data['S. creatinine (mg%)'].median(),inplace=True)

In [ ]:
data['S. creatinine (mg%)'].isna().sum()

0

In [ ]:
data['Hb/PCV']

0      11.6/36.2
1      11.2/35.4
12     12.6/39.3
13     12.4/38.9
14      9.8/30.9
         ...
356    13.4/40.6
357    11.6/35.6
358    12.7/39.4
359    11.0/34.2
360    15.6/46.1
Name: Hb/PCV, Length: 243, dtype: object

### Making separate PCV column

In [ ]:
l=list(data['Hb/PCV'])

In [ ]:
l

['11.6/36.2',
 '11.2/35.4',
 '12.6/39.3',
 '12.4/38.9',
 '9.8/30.9',
 '9.2/30.7',
 '10.7/33.8',
 '9.9/31.8',
 '12.6/38.8',
 '11/35.1',
 '11/34.3',
 '8.9/27.8',
 '9.8/30.5',
 '12.9/39.5',
 '10.8/36.1',
 '11.9/36.9',
 '9.4/28.9',
 '11.5/35.6',
 '11.7/36.4',
 '11.2/34.1',
 '13.1/40.9',
 '10.7/33.8',
 '11.8/36.7',
 '12.5/38.4',
 '12.2/37.9',
 '11/34.4',
 '10/31.6',
 '11.9/37',
 '11.9/36.9',
 '13.1/40.7',
 '12.8/39.3',
 '7.6/24.8',
 '10.3/32.3',
 '12.5/38.5',
 '10.2/31.8',
 '10.9/35',
 '7.4/25.1',
 '11.1/34.5',
 '12.2/38.4',
 '6.5/20.2',
 '6.5/20.2',
 '5.9/20.2',
 '6.3/20.2',
 '11.8/35.6',
 '13.5/41',
 '9.8/30.5',
 '11.1/34',
 '9.5/ 29.8',
 '12.6/37.5',
 '15.1/51',
 '12.9/37.3',
 '10.7/32.2',
 '11.7/33.5',
 '16.6/46.4',
 '15.4/43.9',
 '12.3/37.1',
 '10.4/32.3',
 '13.7/41',
 '13.8/40',
 '12.1/36.4',
 '16.6/47.3',
 '12.2/35.9',
 '9.5/29.9',
 '12.2/36.9',
 '10.6/32.3',
 '13.3/40.2',
 '10.7/33.2',
 '8.1/24.5',
 '14.0/39.8',
 '11.7/34.1',
 '16.5/48.3',
 '15.1/43.6',
 '13.5/38.7',
 '13.2/38.2',
 '11.6/34.8',
 '6.4/20.6',
 '11.3/34.2',
 '13.6/40.5',
 '11.9/36.3',
 '11.7/34.2',
 '9.4/28.4',
 '8/22.7',
 '12.7/38',
 '13.2/39.2',
 '10.6/32.6',
 '13.3/38.9',
 '10.6/31.1',
 '8.4/26.5',
 '12.3/36.7',
 '11.8/35.9',
 '11/32.9',
 '10.8/32.8',
 '12.7/38.1',
 '13.7/40.8',
 '15.4/46.8',
 '10/30.3',
 '15.2/45.1',
 '11.4/33.4',
 '12.9/38.9',
 '10.3/30.9',
 '11.8/33.3',
 '13/38.9',
 '10.9/33.8',
 '12.7/38.4',
 '12/36.3',
 '13.5/39.5',
 '12.3/36.7',
 '10.2/30.6',
 '13.7/41.7',
 '10.6/32.1',
 '10.2/31.4',
 '13.5/39.3',
 '16.7/51',
 '11.4/36.1',
 '11/33.5',
 '13.2/39.6',
 '14/42.3',
 '13/39',
 '10.8/32',
 '12.4/37.1',
 '16.4/48.6',
 '9.3/28.1',
 '39.9',
 '11.6/34.5',
 '11.1/33.3',
 '11.2/33.5',
 '14.2/42.2',
 '16.3/49.1',
 '12.1/36.6',
 '16.3/45.6',
 '11/34.0',
 '11.9/36.5',
 '12.3/36.6',
 '9.7/30.8',
 '12.1/36.2',
 '7.1/23',
 '11.4/33.7',
 '18.2/52.6',
 nan,
 '10.1/29.8',
 '8.6/26.2',
 '12.6/38',
 '14.8/44.2',
 '10.7/33.1',
 '16.5/48.5',
 '15/45.5',
 '11.4/33.6',
 '12.5/37.4',
 '10.4/29.7',
 '10.4/31.8',
 '11.7/35',
 '10.8/32.4',
 '14.1/42.4',
 '17.2/50.1',
 '8.5/28.6',
 '13.2/41.5',
 '15.5/45.1',
 '9.1/28.6',
 '8.7/28.6',
 '10.6/31.8',
 '11.3/33',
 '15.3/44.9',
 '12.8/39.6',
 '11.1/32.7',
 '12.3/38.2',
 '8.5/25.6',
 '13.5/41.1',
 '13.3/38.6',
 '10/30.5',
 '10.6/31.5',
 '8.2/27.2',
 '10.6/32',
 '13.1/40.1',
 '10.7/34.1',
 '14.3/42.6',
 '40.4',
 '9.4/29.4',
 '9.4/29.2',
 '11.2/33.5',
 '11.1/34.9',
 '5.4/17.7',
 '11.9/37',
 '10.5/32.2',
 '13.9/41.8',
 '10.9/33.5',
 '36.5',
 '8.6/26.1',
 '10/30.9',
 '14.3/41.9',
 '9.1/26.4',
 '13.4/39.8',
 '11.3/34.7',
 '13.4/40.6',
 '10.7/32.9',
 '12.7/38.3',
 '11.9/36.2',
 '11.2/33.5',
 '11.6/34.5',
 '10.2/31.6',
 '12.3/37.1',
 '11.2/34.9',
 '17.2/50.8',
 '8.7/26.8',
 nan,
 '6.8',
 '11.1/32.7',
 '10.5/33.4',
 '14.3/43.5',
 '13.9/40.2',
 '12.1/35.7',
 '12.6/37.3',
 '14.6/44.0',
 '12.8/36.3',
 '14.2/40.8',
 '16.6/48.6',
 '16.4/48.6',
 nan,
 nan,
 nan,
 '10.2/32',
 '11.8/35.3',
 '12.8/37.7',
 '12.2/36.5',
 '10.4/31.8',
 '13.2/39.9',
 '12.9/39.5',
 '11.9/35.2',
 '14.6/44.6',
 '10.8/33.3',
 '12.4/37.4',
 '13.5/40.9',
 '13.1/39.4',
 '12.2/37.5',
 '14.6/42.6',
 '11.6/34.7',
 '00/38.7',
 '10.8/32.8',
 '13.4/40.6',
 '13.4/40.6',
 '11.6/35.6',
 '12.7/39.4',
 '11.0/34.2',
 '15.6/46.1']

In [ ]:
pcv=[]
for i in l:
    if type(i)!=float and '/' in i:

        pcv.append(float(i.split('/')[1]))
    else:
        pcv.append(None)
pcv

[36.2,
 35.4,
 39.3,
 38.9,
 30.9,
 30.7,
 33.8,
 31.8,
 38.8,
 35.1,
 34.3,
 27.8,
 30.5,
 39.5,
 36.1,
 36.9,
 28.9,
 35.6,
 36.4,
 34.1,
 40.9,
 33.8,
 36.7,
 38.4,
 37.9,
 34.4,
 31.6,
 37.0,
 36.9,
 40.7,
 39.3,
 24.8,
 32.3,
 38.5,
 31.8,
 35.0,
 25.1,
 34.5,
 38.4,
 20.2,
 20.2,
 20.2,
 20.2,
 35.6,
 41.0,
 30.5,
 34.0,
 29.8,
 37.5,
 51.0,
 37.3,
 32.2,
 33.5,
 46.4,
 43.9,
 37.1,
 32.3,
 41.0,
 40.0,
 36.4,
 47.3,
 35.9,
 29.9,
 36.9,
 32.3,
 40.2,
 33.2,
 24.5,
 39.8,
 34.1,
 48.3,
 43.6,
 38.7,
 38.2,
 34.8,
 20.6,
 34.2,
 40.5,
 36.3,
 34.2,
 28.4,
 22.7,
 38.0,
 39.2,
 32.6,
 38.9,
 31.1,
 26.5,
 36.7,
 35.9,
 32.9,
 32.8,
 38.1,
 40.8,
 46.8,
 30.3,
 45.1,
 33.4,
 38.9,
 30.9,
 33.3,
 38.9,
 33.8,
 38.4,
 36.3,
 39.5,
 36.7,
 30.6,
 41.7,
 32.1,
 31.4,
 39.3,
 51.0,
 36.1,
 33.5,
 39.6,
 42.3,
 39.0,
 32.0,
 37.1,
 48.6,
 28.1,
 None,
 34.5,
 33.3,
 33.5,
 42.2,
 49.1,
 36.6,
 45.6,
 34.0,
 36.5,
 36.6,
 30.8,
 36.2,
 23.0,
 33.7,
 52.6,
 None,
 29.8,
 26.2,
 38.0,
 44.2,
 33.1,
 48.5,
 45.5,
 33.6,
 37.4,
 29.7,
 31.8,
 35.0,
 32.4,
 42.4,
 50.1,
 28.6,
 41.5,
 45.1,
 28.6,
 28.6,
 31.8,
 33.0,
 44.9,
 39.6,
 32.7,
 38.2,
 25.6,
 41.1,
 38.6,
 30.5,
 31.5,
 27.2,
 32.0,
 40.1,
 34.1,
 42.6,
 None,
 29.4,
 29.2,
 33.5,
 34.9,
 17.7,
 37.0,
 32.2,
 41.8,
 33.5,
 None,
 26.1,
 30.9,
 41.9,
 26.4,
 39.8,
 34.7,
 40.6,
 32.9,
 38.3,
 36.2,
 33.5,
 34.5,
 31.6,
 37.1,
 34.9,
 50.8,
 26.8,
 None,
 None,
 32.7,
 33.4,
 43.5,
 40.2,
 35.7,
 37.3,
 44.0,
 36.3,
 40.8,
 48.6,
 48.6,
 None,
 None,
 None,
 32.0,
 35.3,
 37.7,
 36.5,
 31.8,
 39.9,
 39.5,
 35.2,
 44.6,
 33.3,
 37.4,
 40.9,
 39.4,
 37.5,
 42.6,
 34.7,
 38.7,
 32.8,
 40.6,
 40.6,
 35.6,
 39.4,
 34.2,
 46.1]

In [ ]:
def hbpcv(column):
    hp=column
    if type(hp)!=float and '/' in hp:
        return hp.split('/')[0]
    elif type(hp)!=float and '/' not in hp:
        return hp
    else:
        return None

In [ ]:
data['Hb/PCV']=data['Hb/PCV'].apply(hbpcv)

In [ ]:
data.rename(columns={"Hb/PCV": "Hb"},inplace=True)

In [ ]:
data['Hb']

0      11.6
1      11.2
12     12.6
13     12.4
14      9.8
       ...
356    13.4
357    11.6
358    12.7
359    11.0
360    15.6
Name: Hb, Length: 243, dtype: object

In [ ]:
data['Hb'].isna().sum()

5

### String to Float

In [ ]:
def hb(column):
    t=column
    try:
        float(t)
        return float(t)
    except TypeError:
        return None
    return None

In [ ]:
data['Hb']=data['Hb'].apply(hb)

In [ ]:
data['Hb'].isna().sum()

5

In [ ]:
data['Hb'].fillna(data['Hb'].median(),inplace=True)

In [ ]:
data['Hb'].isna().sum()

0

In [ ]:
list(data.columns).index('Hb')

36

In [ ]:
data.insert(37, "PCV", pcv)

In [ ]:
data['PCV'].isna().sum()

9

In [ ]:
data['PCV'].fillna(data['PCV'].median(),inplace=True)

In [ ]:
data['PCV'].isna().sum()

0

In [ ]:
def yt(column):
    i = column
    if i==2:
        return int(i-1)
    elif i in [4,5,6]:
        return int(i-2)
    elif i in [8,9,10,11,12,13,14,15,16]:
        return int(i-3)
    elif i in [18,19,20]:
        return int(i-4)
    else:
        return i

In [ ]:
df = data[data['Months'] <= 216]

In [ ]:
df['Months'].value_counts()

Months
60     8
59     5
120    5
24     4
40     4
      ..
97     1
190    1
171    1
35     1
87     1
Name: count, Length: 126, dtype: int64

# Final Data

In [ ]:
data.head()

,Months,Sex,DOA,Fever (P/A),Duration of fever (days),Headache (P/A),Duration of headache,Myalgia (P/A),Duration of myalgia,Cough (P/A),...,Malarial parasites (Done/Not done),Malaria report,ELISA for leptospirosis (Done/Not done),Lepto report,CXR (Done/Not done),Xray report,USG Abdomen (Done/Not done),USG Abd report,Final Diagnosis,AUF Result
0,24,1,190622,1,3.0,0,2.0,0,2.0,0,...,0,-1,0,-1,0,-1,1,0.0,81,6
1,59,0,210622,1,4.0,0,2.0,0,2.0,0,...,0,-1,0,-1,1,0,1,5955.0,81,14
12,108,0,270622,1,7.0,0,2.0,0,2.0,0,...,0,-1,0,-1,0,-1,1,0.0,83,6
13,99,1,270622,1,5.0,0,2.0,0,2.0,0,...,0,-1,0,-1,0,-1,1,2454.0,51,6
14,65,1,290622,1,12.0,0,2.0,0,2.0,0,...,0,-1,0,-1,0,-1,0,-1,81,6

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
data.columns

Index(['Months', 'Sex', 'DOA', 'Fever (P/A)', 'Duration of fever (days)',
       'Headache (P/A)', 'Duration of headache', 'Myalgia (P/A)',
       'Duration of myalgia', 'Cough (P/A)', 'Duration of cough',
       'Productive/Non productive (P/NP)', 'Dyspnea (P/A)',
       'Duration of dyspnea', 'Vomiting (P/A)', 'Duration of vomiting',
       'Hematuria (P/A)', 'Duration of hematuria', 'Edema (P/A)',
       'Duration of edema', 'Anorexia (P/A)', 'Nausea (P/A)',
       'Diarrhoea (P/A)', 'Past illness (P/A)', 'Comorbidities',
       'Similar illness in family (P/A)',
       'Any rodent bite/scratch/contact with rodent droppings (Y/N)', 'BP',
       'RR', 'PR', 'Temperature', 'Crepitus/Rhonchi (P/A)', 'Petechiae (P/A)',
       'Additional physical finding', 'Any specific renal sign', 'Total count',
       'Hb', 'PCV', 'Differential count', 'Platelet count', 'Prothrombin time',
       'SGOT', 'SGPT', 'Bilirubin', 'S. protein (g%)', 'S. albumin (g%)',
       'A/G ratio', 'S. creatinine (mg%)', 'Urine protein (mg)',
       'Urine output (24 hr) (ml/Kg/Hr)', 'Other Investigations if any',
       'Bacterial culture & sensitivity (Positive / Negative / not done )',
       'If positive, Organism', 'Dengue Viral Immunoassay (IgM) (Done/NA )',
       'Dengue Viral Immunoassay (IgM) (Positive/Negative)',
       'Typhidot / Widal (Done/Not done)', 'Typhi dot/ WIDAL Report',
       'Weil Felix/Scrub typhus IgM (Done/Not done)', 'Scrub typhus Report',
       'Malarial parasites (Done/Not done)', 'Malaria report',
       'ELISA for leptospirosis (Done/Not done)', 'Lepto report',
       'CXR (Done/Not done)', 'Xray report', 'USG Abdomen (Done/Not done)',
       'USG Abd report', 'Final Diagnosis', 'AUF Result'],
      dtype='object')

In [ ]:
x=data[['Months', 'Sex', 'DOA', 'Fever (P/A)', 'Duration of fever (days)',
       'Headache (P/A)', 'Duration of headache', 'Myalgia (P/A)',
       'Duration of myalgia', 'Cough (P/A)', 'Duration of cough',
       'Productive/Non productive (P/NP)', 'Dyspnea (P/A)',
       'Duration of dyspnea', 'Vomiting (P/A)', 'Duration of vomiting',
       'Hematuria (P/A)', 'Duration of hematuria', 'Edema (P/A)',
       'Duration of edema', 'Anorexia (P/A)', 'Nausea (P/A)',
       'Diarrhoea (P/A)', 'Past illness (P/A)', 'Comorbidities',
       'Similar illness in family (P/A)',
       'Any rodent bite/scratch/contact with rodent droppings (Y/N)', 'BP',
       'RR', 'PR', 'Temperature', 'Crepitus/Rhonchi (P/A)', 'Petechiae (P/A)',
       'Additional physical finding', 'Any specific renal sign', 'Total count',
       'Hb', 'PCV', 'Differential count', 'Platelet count', 'Prothrombin time',
       'SGOT', 'SGPT', 'Bilirubin', 'S. protein (g%)', 'S. albumin (g%)',
       'A/G ratio', 'S. creatinine (mg%)', 'Urine protein (mg)',
       'Urine output (24 hr) (ml/Kg/Hr)', 'Other Investigations if any',
       'Bacterial culture & sensitivity (Positive / Negative / not done )',
       'If positive, Organism', 'Dengue Viral Immunoassay (IgM) (Done/NA )',
       'Dengue Viral Immunoassay (IgM) (Positive/Negative)',
       'Typhidot / Widal (Done/Not done)', 'Typhi dot/ WIDAL Report',
       'Weil Felix/Scrub typhus IgM (Done/Not done)', 'Scrub typhus Report',
       'Malarial parasites (Done/Not done)', 'Malaria report',
       'ELISA for leptospirosis (Done/Not done)', 'Lepto report',
       'CXR (Done/Not done)', 'Xray report', 'USG Abdomen (Done/Not done)',
       'USG Abd report', 'Final Diagnosis']]
y=data['AUF Result']

In [ ]:
data['AUF Result'].value_counts()

AUF Result
6     123
10     34
13     29
11     11
9      11
12      8
18      5
17      4
0       3
2       3
14      3
8       2
4       1
7       1
1       1
5       1
15      1
16      1
3       1
Name: count, dtype: int64

In [ ]:
#y=y.apply(yt)

In [ ]:
#data.to_csv("Encoded_data.csv")

# 80:20 Fixed Neural Net

In [ ]:
from tensorflow.keras.metrics import Recall,Precision

from sklearn.metrics import accuracy_score,recall_score

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=101)

In [ ]:
type(y_train)

pandas.core.series.Series

In [ ]:
from sklearn import preprocessing

In [ ]:
set(y)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}

In [ ]:

# # Placeholder for your data
# # Example data for demonstration purposes
# # X = np.random.rand(100, 5)
# # y = np.random.randint(0, 22, 100)
# # Initial train-test split (if not already split)
# # x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Identify unique values in y, y_train, and y_test
# unique_y = set(y)
# train_values = set(y_train)
# test_values = set(y_test)

# # Find missing values
# missing_train = unique_y - train_values
# missing_test = unique_y - test_values

# # Combine train and test data for easier manipulation
# combined_X = pd.concat([x_train, x_test])
# combined_y = pd.concat([y_train, y_test])

# # Function to add missing values
# def add_missing_values(value, x_train, y_train, x_test, y_test):
#     indices = combined_y[combined_y == value].index
#     if len(indices) == 1:
#         x_train = pd.concat([x_train, combined_X.loc[indices]])
#         y_train = pd.concat([y_train, combined_y.loc[indices]])
#         x_test = pd.concat([x_test, combined_X.loc[indices]])
#         y_test = pd.concat([y_test, combined_y.loc[indices]])
#     else:
#         split_index = len(indices) // 2
#         train_indices = indices[:split_index]
#         test_indices = indices[split_index:]
#         x_train = pd.concat([x_train, combined_X.loc[train_indices]])
#         y_train = pd.concat([y_train, combined_y.loc[train_indices]])
#         x_test = pd.concat([x_test, combined_X.loc[test_indices]])
#         y_test = pd.concat([y_test, combined_y.loc[test_indices]])
#     return x_train, y_train, x_test, y_test

# # Add missing values to train and test sets
# for value in missing_train | missing_test:
#     x_train, y_train, x_test, y_test = add_missing_values(value, x_train, y_train, x_test, y_test)

# # Ensure no duplicate entries
# x_train = x_train.drop_duplicates().reset_index(drop=True)
# y_train = y_train.loc[x_train.index].reset_index(drop=True)
# x_test = x_test.drop_duplicates().reset_index(drop=True)
# y_test = y_test.loc[x_test.index].reset_index(drop=True)

# # # Convert y_train and y_test to categorical form
# # y_train_categorical = to_categorical(y_train, num_classes=len(unique_y))
# # y_test_categorical = to_categorical(y_test, num_classes=len(unique_y))

# # Display the results
# print("x_train:", x_train)
# print("y_train:", y_train)
# # print("y_train_categorical:", y_train_categorical)
# print("x_test:", x_test)
# print("y_test:", y_test)
# # print("y_test_categorical:", y_test_categorical)

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()
X_train_minmax = min_max_scaler.fit_transform(x_train)

In [ ]:
X_test_minmax = min_max_scaler.transform(x_test)

In [ ]:
# from keras.models import Sequential
# from keras.layers import Dense

# # Define the model
# model = Sequential()

# # Add input layer
# model.add(Dense(128, input_dim=68, activation='relu'))  # 68 input features, 128 neurons in the first hidden layer

# # Add a second hidden layer
# # model.add(Dense(64, activation='relu'))  # 64 neurons in the second hidden layer

# # Add output layer
# model.add(Dense(19, activation='sigmoid'))  # 21 output classes, softmax activation for classification

# # Compile the model
# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy',Recall(),Precision()])

# # Print model summary
# model.summary()

In [ ]:
# y_train=pd.Series(y_train)
# y_test=pd.Series(y_test)

In [ ]:
# y_train.value_counts()

In [ ]:
from pycaret.classification import *

In [ ]:
#!pip install catboost

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, roc_auc_score, recall_score, precision_score, f1_score, cohen_kappa_score, matthews_corrcoef
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis, LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.svm import SVC
from sklearn.dummy import DummyClassifier
from catboost import CatBoostClassifier
import time

# Load your dataset
# df = pd.read_csv('your_dataset.csv')
# X = df.drop('target', axis=1)
# y = df['target']

# Split the data
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Standardize the data
# scaler = StandardScaler()
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

# Define the classifiers
classifiers = {
    'Random Forest': RandomForestClassifier(),
    'Extra Trees': ExtraTreesClassifier(),
    'Gradient Boosting': GradientBoostingClassifier(),
    'Ada Boost': AdaBoostClassifier(),
    'Decision Tree': DecisionTreeClassifier(),
    'K Neighbors': KNeighborsClassifier(),
    'Naive Bayes': GaussianNB(),
    #'Quadratic Discriminant Analysis': QuadraticDiscriminantAnalysis(),
    'Linear Discriminant Analysis': LinearDiscriminantAnalysis(),
    'Logistic Regression': LogisticRegression(),
    'Ridge Classifier': RidgeClassifier(),
    #'SVM - Linear Kernel': SVC(kernel='linear', probability=True),
    'CatBoost': CatBoostClassifier(verbose=0),
    'Dummy Classifier': DummyClassifier(strategy='most_frequent')
}

# Prepare the results table
results = []

for name, clf in classifiers.items():
    start_time = time.time()
    clf.fit(X_train_minmax, y_train)
    print(name)
    y_pred = clf.predict(X_test_minmax)
    y_prob = clf.predict_proba(X_test_minmax)[:, 1] if hasattr(clf, 'predict_proba') else None
    end_time = time.time()

    accuracy = accuracy_score(y_test, y_pred)
    #auc = roc_auc_score(y_test, y_prob,multi_class='ovr', average='macro') if y_prob is not None else None
    recall = recall_score(y_test, y_pred,average='micro')
    precision = precision_score(y_test, y_pred,average='micro')
    f1 = f1_score(y_test, y_pred,average='micro')
    kappa = cohen_kappa_score(y_test, y_pred)
    #mcc = matthews_corrcoef(y_test, y_pred)
    #tt = end_time - start_time

    results.append({
        'Model': name,
        'Accuracy': accuracy,
        'Recall': recall,
        'Precision': precision,
        'F1': f1,
        'Kappa': kappa
    })

# Convert results to DataFrame
results_df = pd.DataFrame(results)

# Display the results
print(results_df)

Random Forest
Extra Trees
Gradient Boosting
Ada Boost
Decision Tree
K Neighbors
Naive Bayes
Linear Discriminant Analysis
Logistic Regression
Ridge Classifier
CatBoost
Dummy Classifier
                           Model  Accuracy    Recall  Precision        F1  \
0                  Random Forest  0.530612  0.530612   0.530612  0.530612
1                    Extra Trees  0.591837  0.591837   0.591837  0.591837
2              Gradient Boosting  0.551020  0.551020   0.551020  0.551020
3                      Ada Boost  0.489796  0.489796   0.489796  0.489796
4                  Decision Tree  0.551020  0.551020   0.551020  0.551020
5                    K Neighbors  0.469388  0.469388   0.469388  0.469388
6                    Naive Bayes  0.204082  0.204082   0.204082  0.204082
7   Linear Discriminant Analysis  0.448980  0.448980   0.448980  0.448980
8            Logistic Regression  0.571429  0.571429   0.571429  0.571429
9               Ridge Classifier  0.591837  0.591837   0.591837  0.591837
10                      CatBoost  0.632653  0.632653   0.632653  0.632653
11              Dummy Classifier  0.510204  0.510204   0.510204  0.510204

       Kappa
0   0.211337
1   0.311314
2   0.323714
3   0.122493
4   0.335388
5   0.174870
6   0.061856
7   0.219469
8   0.276371
9   0.331514
10  0.388773
11  0.000000